services:
  # Certificate generator - runs once to create SSL certificates
  # cert-generator:
  #   image: alpine:latest
  #   container_name: cert-generator
  #   restart: on-failure
  #   volumes:
  #     - clickhouse-certs:/certs
  #     - ./clickhouse/generate-certs.sh:/app/generate-certs.sh
  #   command: |
  #     sh -c "
  #       apk add --no-cache openssl && \
  #       CHOWN_TO=1000 /app/generate-certs.sh
  #     "
  #   networks:
  #     - otel

  # PMM Server with built-in ClickHouse
  pmm-server:
    # image: percona/pmm-server:3
    image: perconalab/pmm-server:3-dev-latest
    platform: linux/amd64
    container_name: pmm-server
    restart: always
    # depends_on:
    #   cert-generator:
    #     condition: service_completed_successfully
    environment:
      - GF_ANALYTICS_ENABLED=false
      - GF_ANALYTICS_REPORTING_ENABLED=false
      - GF_REPORTING_ENABLED=false
      - GF_NEWS_NEWS_FEED_ENABLED=false
      - GF_SECURITY_DISABLE_GRAVATAR=true
      - GF_SECURITY_ADMIN_EMAIL=${GF_SECURITY_ADMIN_EMAIL:?Need to define GF_SECURITY_ADMIN_EMAIL}
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=mailhog:1025
      - GF_SMTP_FROM_NAME=Percona
      - GF_SMTP_FROM_ADDRESS=${GF_SMTP_FROM_ADDRESS:?Need to define GF_SMTP_FROM_ADDRESS}
    ports:
      - "443:8443"
      - "9000:9000"
    volumes:
      - pmm-data:/srv
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./grafana/change-admin-password:/usr/local/sbin/change-admin-password:ro
      - ./grafana/datasources.yml:/usr/share/grafana/conf/provisioning/datasources/otel-ds.yml
      - ./grafana/alert-rules.yml:/usr/share/grafana/conf/provisioning/alerting/otel-alert-rules.yml
      - ./grafana/contact-points.yml:/usr/share/grafana/conf/provisioning/alerting/otel-contactpoints.yml
      - ./grafana/notification-policies.yml:/usr/share/grafana/conf/provisioning/alerting/otel-policies.yml
      - ./clickhouse/config.d/config-override.xml:/etc/clickhouse-server/config.d/config-override.xml:ro
      - clickhouse-certs:/etc/clickhouse-server/certs:ro
    networks:
      - otel

  # OpenTelemetry Collector
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    restart: unless-stopped
    command: ["--config=/etc/otel/config.yml"]
    volumes:
      - ./config.yml:/etc/otel/config.yml
      - pmm-data:/srv
    depends_on:
      pmm-server:
        condition: service_healthy
      mailhog:
        condition: service_started
    ports:
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP HTTP receiver
      - "8888:8888"   # Prometheus metrics
      - "8889:8889"   # Prometheus exporter metrics
    networks:
      - otel
  
  # MailHog for SMTP testing
  mailhog:
    image: mailhog/mailhog:latest
    platform: linux/amd64
    container_name: mailhog
    restart: always
    ports:
      - "8025:8025"   # Web UI port
    networks:
      - otel

networks:
  otel:
    name: otel-network
    driver: bridge

volumes:
  pmm-data:
    name: pmm-data
  clickhouse-certs:
    name: clickhouse-certs
    external: true
