*                                       @percona/pmm-review-be
/docs/                                  @percona/pmm-docs
/ui/                                    @percona/pmm-review-fe
/agent/agents/postgres/                 @JiriCtvrtka @percona/pmm-review-be
/api/                                   @BupycHuk @percona/pmm-review-be
/managed/services/checks/               @idoqo @percona/pmm-review-be
/update/                                @BupycHuk @talhabinrizwan @percona/pmm-review-be
**/go.mod                               @percona/pmm-review-dependency @percona/pmm-review-be
**/Dockerfile                           @percona/pmm-review-dependency @percona/pmm-review-be
/cli-tests/package.json                 @percona/pmm-review-dependency @yurkovychv
/.github/                               @percona/pmm-review-dependency @percona/pmm-review-be
