*                                       @percona/pmm-review-be
/build/                                 @atymchuk @percona/pmm-review-be
/admin/                                 @michal-kralik @percona/pmm-review-be
/agent/agents/postgres/                 @JiriCtvrtka @percona/pmm-review-be
/agent/runner/                          @artemgavrilov @percona/pmm-review-be
/api/                                   @BupycHuk @percona/pmm-review-be
/docs/api/                              @atymchuk
/managed/services/checks/               @idoqo @percona/pmm-review-be
/managed/                               @percona/pmm-review-be
/managed/services/dbaas                 @gen1us2k @percona-csalguero @percona/pmm-review-be
/managed/services/management/dbaas      @gen1us2k @percona-csalguero @percona/pmm-review-be
/update/                                @BupycHuk @atymchuk @talhabinrizwan
/api-tests/                             @percona/pmm-review-be
go.mod                                  @BupycHuk @artemgavrilov @percona/pmm-review-be
