---
version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/tools"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"


  - package-ecosystem: "gomod"
    directory: "/managed/tools"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/managed/api-tests/tools"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/managed"
    schedule:
      interval: "weekly"
