# Sample environment file for PMM Server development.
# To use it, copy to .env and adjust values as needed:
#
#   cp .env.dev.example .env

# The latest PMM Server image is alsways published as percona/pmm-server:3.
# A specific version can be used by changing the tag, e.g., percona/pmm-server:3.7.0.
PMM_SERVER_IMAGE=perconalab/pmm-server:3-dev-container
# Label-based access control for PMM Server. Set to 1 to enable.
PMM_ENABLE_ACCESS_CONTROL=1
# Enable QAN for the internal PostgreSQL database.
PMM_ENABLE_INTERNAL_PG_QAN=1
# Enable Nomad integration for PMM Server.
PMM_ENABLE_NOMAD=0
# Controls the log verbosity of PMM Server. Set to 1 to enable debug logging, which can be helpful for troubleshooting.
PMM_DEBUG=0
# Set the admin username for PMM Server.
GF_SECURITY_ADMIN_USER=admin
# Set a strong admin password for PMM Server in production environments.
GF_SECURITY_ADMIN_PASSWORD=admin
# Public address for PMM Server, required by Nomad integration.
PMM_PUBLIC_ADDRESS=localhost
# Https port for PMM Server API and UI - https://localhost:443.
PMM_PORT_HTTPS=443

# Use an external ClickHouse database
# PMM_CLICKHOUSE_ADDR=127.0.0.1:9000
# PMM_CLICKHOUSE_DATABASE=pmm
# PMM_CLICKHOUSE_USER=default
# PMM_CLICKHOUSE_PASSWORD=<password>
# PMM_CLICKHOUSE_IS_CLUSTER=1
# PMM_CLICKHOUSE_CLUSTER_NAME=pmmclickhouse
# PMM_DISABLE_BUILTIN_CLICKHOUSE=1

# Use an external PostgreSQL database
# PMM_POSTGRES_ADDR=pg:5432
# PMM_POSTGRES_DBNAME=pmm-managed
# PMM_POSTGRES_USERNAME=pmm-managed
# PMM_POSTGRES_DBPASSWORD=<password>
# PMM_POSTGRES_SSL_MODE=verify-full
# PMM_POSTGRES_SSL_CA_PATH=/tmp/certs/root.crt
# PMM_POSTGRES_SSL_KEY_PATH=/tmp/certs/pmm-managed.key
# PMM_POSTGRES_SSL_CERT_PATH=/tmp/certs/pmm-managed.crt
# PMM_DISABLE_BUILTIN_POSTGRES=1

# Use SSL certificates for PMM Server's internal database connection (PostgreSQL)
# GF_DATABASE_SSL_MODE=verify-full
# GF_DATABASE_CA_CERT_PATH=/tmp/certs/root.crt
# GF_DATABASE_CLIENT_KEY_PATH=/tmp/certs/grafana.key
# GF_DATABASE_CLIENT_CERT_PATH=/tmp/certs/grafana.crt

# Specify a custom file with Advisor checks for development purposes.
# PMM_DEV_ADVISOR_CHECKS_FILE=/srv/checks/local-checks.yml

# Configure SMTP settings for Grafana to enable email notifications.
# --profile=mail-server must be enabled in docker-compose.dev.yml for these settings to take effect.
# GF_EMAILS_WELCOME_EMAIL_ON_SIGN_UP=1
# GF_SMTP_ENABLED=1
# GF_SMTP_HOST=mail-server:1025
# GF_SMTP_FROM_NAME=Percona
# GF_SMTP_FROM_ADDRESS=admin@percona.com

# Grafana Image Renderer configuration for rendering Grafana panels as images.
# --profile=renderer must be enabled in docker-compose.dev.yml for these settings to take effect
# GF_RENDERING_SERVER_URL=http://renderer:8081/render
# GF_RENDERING_CALLBACK_URL=https://pmm-server:8443/graph/

# Use these to debug telemetry
# PMM_DEV_PERCONA_PLATFORM_ADDRESS=https://check-dev.percona.com
# PMM_DEV_PERCONA_PLATFORM_INSECURE=1
# PMM_DEV_TELEMETRY_INTERVAL=30s
# PMM_DEV_TELEMETRY_DISABLE_START_DELAY=1
# PMM_DEV_TELEMETRY_DISABLE_SEND=1
# PMM_DEV_TELEMETRY_RETRY_BACKOFF=10s

# Other dev-related settings
PMM_RELEASE_PATH=/root/go/bin
PMM_RELEASE_VERSION=3.7.1
GO_VERSION=1.25.x

# Ports on the host machine to expose container's internal services for development purposes.
PMM_PORT_DELVE=2345
PMM_PORT_PG=5432
PMM_PORT_VM=9090
PMM_PORT_CH_TCP=9000
PMM_PORT_CH_HTTP=8123
PMM_PORT_MAIL_SERVER_UI=8025
PMM_PORT_RENDERER=8081

# AWS access and secret key for AWS integration with Inventory.
# AWS_ACCESS_KEY=<access_key>
# AWS_SECRET_KEY=<secret_key>
