# This is a sample .env file for PMM Server. You can copy this file to .env and modify the values as needed.

# The latest PMM Server image is alsways published as percona/pmm-server:3.
# A specific version can be used by changing the tag, e.g., percona/pmm-server:3.7.0.
PMM_SERVER_IMAGE=percona/pmm-server:3
# Shared docker network for PMM Server and its components.
PMM_NETWORK=pmm-network
# Label-based access control for PMM Server. Set to 1 to enable.
PMM_ENABLE_ACCESS_CONTROL=1
# Good for development, but not recommended for production environments.
PMM_ENABLE_INTERNAL_PG_QAN=1
# Controls the log verbosity of PMM Server. Set to 1 to enable debug logging, which can be helpful for troubleshooting.
PMM_DEBUG=0
# Port mapping for PMM Server. The default is 443, but you can change it if needed.
PMM_PORT_HTTPS=443
# Change the admin password for PMM Server. The default is "admin", but you should set a strong password for production environments.
PMM_ADMIN_PASSWORD=admin
