.idea/
.vscode/
*.sw[o,p]

# System Files
.DS_Store

# development
.modules/
bin/
!/documentation/resources/bin/
dist/
.env
.netrc
pmm-agent-dev.yaml
compose.yml
ci.yml
sbom.json
*.log
encryption.key

api/nginx/*.pem
api-tests/pmm-api-tests-output.txt
api-tests/pmm-api-tests-junit-report.xml

agent/testdata/
agent/agents/mysql/slowlog/parser/corpus/
agent/agents/mysql/slowlog/parser/crashers/
agent/agents/mysql/slowlog/parser/suppressions/
agent/agents/mysql/slowlog/parser/parser-fuzz.zip
update/*.runcover.out
update/*.test

cli-tests/node_modules/
cli-tests/playwright-report/

qan-api2/logs/

cover.out
crosscover.out

fuzzing/
*-fuzz.zip
*.bench
