dist: bionic
language: go

services:
  - docker

go:
  - 1.14.x
  - tip

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

go_import_path: github.com/percona/pmm-admin

# skip non-trunk PMM-XXXX branch builds, but still build pull requests
branches:
  except:
    - /^PMM\-\d{4}/

cache:
  directories:
    - /home/travis/.cache/go-build
    # - /home/travis/gopath/pkg

before_cache:
  - go clean -testcache
  # - go clean -cache

env:
  global:
    - CODECOV_ENV=PMM_SERVER_IMAGE
    # REVIEWDOG_GITHUB_API_TOKEN
    - secure: "k/9NslWV/PHwRo+0yzBE6i7VUbGkTx/7UOT4tKS2OEuTVeQOTCllVZPKXuYq1j8oRX99L3KA1CQ3GUvAcX5CPcXjqxBj/9SaAqof4OYxnedBRVAsn0aknD6d8VtmMUM0TTkQWCpSWWvee+Ortto5kteWvNdWahwjdU9Y27nnvg1uMHfXWl22bGllzbXPhKr7C4NedC26dSjq5xjGu0c/67eOsxG8E8jR7FfcrLVXOjZfmWR8zD6bn6VeBiBaU9/MWZ5jVpyQdxlm9we3dZplR86v0DKN7hgaq3gxgeg3YUyTCz/ulieI6M+GbIllXxCnACS7o9Jz+aUMxyrQMHzKa32TKKhw8WaPl5IJCsJS7MJECrmISD3lnes3IX+/eiMvl88SdtGn1EPLEI5IbsWrgRWiA3aAb5R6Naj8evEJqBET0MpSR3XI6PgLLcetruZAcRv1QExh90p0M3F2gen98SqdIMCHmWSCneG8hAXif4iH85WAasJyYi2qHOO+ydWEjs6LmCbhlN18Pe0zkn6dVMtz7UboHc0uboCpf7HFG1G0aODSWlta1+TPG9m4tB3PD4/3QKsGu/4CxXHogxmXDZMjdw2xjgWqw6MPY7TPWMQUP7oL5U5wpVPhTE0S4THt9kk9VhgxihLa3ci53XdJkgQMjUIYLKX9VdaeadMrapg="

  matrix:
    - PMM_SERVER_IMAGE=percona/pmm-server:2.0.0
    - PMM_SERVER_IMAGE=percona/pmm-server:2
    - PMM_SERVER_IMAGE=perconalab/pmm-server:dev-latest

before_install:
  - docker-compose up -d

install:
  # ensure that vendor/ is in sync with code and Gopkg.toml/lock
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - dep check
  # install reviewdog and golangci-lin
  - curl https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s

before_script:
  # ensure that files are not changed
  - make init
  - make format
  - git status
  - git diff --exit-code

script:
  # static analyze
  - make ci-reviewdog
  # for main_test.go
  - make install

  - make test-cover
  - make test-crosscover
  - make test-race

  - make check

after_success:
  - curl https://codecov.io/bash > codecov
  - chmod +x codecov
  - ./codecov -f cover.out -F cover -X fix
  - ./codecov -f crosscover.out -F crosscover -X fix

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: lmlesUUiOPssxPgNS7/CsUwd7XbKWbzbFskH4TXvFRGHoN0ZMGAtZK3VlXNT25sqek/NZZjADM7+lq9Jsm6HI+A6twsIzS4gp7Xqz3uToxwIukXNccQddMqMXgQF9qJWsN4RtTNs8zhOYoZNvPeOhseBURY5UIdJPD95iBocCnvToXaip4o/Kr/mrIFqRRXXb2oq6k93xzggFwwvnp78gS0gvYAWIvQYVjs4gUNuPWZvxFrWLuEPAPHwA6uLFdcqqv6RJPnWH5J6N5LTsIxJKktRCtXeJHBIdIIAq4gJJ8lYIQENjKw50h704adz73coXZDvyTnGVihUrCX2wIb896y/LEM8aCOTSJGnrPFS2pv/ZDluCdztfxbM6BWJsatTbuaXkZXy/5teVpt3VZgLwmcqVyFdGnCL00F8v6RNv7IhUbyTgmr13mNeeKGDzvVda1DKOx3PZ6L4b8Da9KLz+StoUZ7DWm1ZY8cUU2pAm7cYoJ7WSP8qLsgmbMaYpUS3wq4okxLcZbdTRef1ltcinKMwdjwLQOZtvohl/qpPZsiA2nc5pVkHr1pDMghBsUv31H5T7zsDLKYq1iL+MxTl/CWDxa/DbU7LmTO598NjVT654EH6R83ROFGmVXb3HGbD9u71tQs0Tq/Q2tsRXa0UsFvQKpyc1sIO1a5+0KyNx6Y=
