dist: bionic
language: go
os: linux

services:
  - docker

go:
  - 1.16.x
  - tip

jobs:
  fast_finish: true
  allow_failures:
    - go: tip

go_import_path: github.com/percona/pmm-admin

# skip non-trunk PMM-XXXX branch builds, but still build pull requests
branches:
  except:
    - /^PMM\-\d{4}/

cache:
  directories:
    - /home/travis/.cache/go-build
    # - /home/travis/gopath/pkg

before_cache:
  - go clean -testcache
  # - go clean -cache

env:
  global:
    - CODECOV_ENV=PMM_SERVER_IMAGE
    # REVIEWDOG_GITHUB_API_TOKEN
    - secure: PwgS/7CmvVc3v+EW4zc19rP+Q2lvjm+1Lt3TEPYsRpaq7zDAcUxQuz5f6UqoafH05EdCpOzczwUYan9iMqMBnATEctkHDlz0z521wio7bYilCUrzBlFClfBYGmCoUmWOJ9GPBWb4jQ8ono8D+8Z/OOoB37TwvUnW05GhZaUEFw8Ha36BadvrewBwmALyEE9cNTC4MF+om4LXAoNOH5gDdH9hBrzgEgPkSQbGUOO/22ceGg7Cucs9RGQa+7uIcNIleaNI3ohHI9umGG2z+81bNt152To65FUe4SXJ6DA1fxBP9E30txcES1EnTimovEtMviip7MILTEKpvOzAOaVZk6Q5Vw+CK034XN7gzbqKN+s0UOh+OpdYGE0dwRhBpAI2dE0pncDCducat5x2AY7jxqcx/CB0yW+l7ME2PQJhoOjcDarZC3Ma6VzRmO2jy1jcfAElcGgMYEidQk0Qp0cK2TgoKgFzcwNJFZ8BOoG906EBAYpwFjfHTnFy+AuV+uaiY1kFGxA8DFz5D8HvWUUkER9DuU4lNGHw/YEI9tdbOUl+XvE9axkZBhVLXW7RULHKzuGtdGKSDybIVIgVZA7KWYdYY7jogPhBL5CJ4QyN9se0vN1lGWIQps9BETWJo3k+bxx4lC3qC+C7ntp2jbpyaQSgV0Gxbtu+LmkdtWfVo54=

  matrix:
    - PMM_SERVER_IMAGE=percona/pmm-server:2.0.0
    - PMM_SERVER_IMAGE=percona/pmm-server:2
    - PMM_SERVER_IMAGE=public.ecr.aws/e7j3v3n0/pmm-server:dev-latest

before_install:
  - docker-compose up -d

install: skip
before_script:
  # ensure that files are not changed
  - make init
  - make format
  - git status
  - git diff --exit-code

script:
  # static analyze
  - make ci-reviewdog
  # for main_test.go
  - make install

  - make test-cover
  - make test-crosscover
  - make test-race

  - make check

after_success:
  - curl https://codecov.io/bash > codecov
  - chmod +x codecov
  - ./codecov -f cover.out -F cover -X fix
  - ./codecov -f crosscover.out -F crosscover -X fix

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      - secure: f6yNYYYyybz2iZn4QIIvQ9xJiKWEbOk9vJaobxUACouj01u2Ug9jJ0m/6lLPqRqKHg2qYpF67ffVfmFIbDNvRVQxUJHNGX85qwKqZaVHdzGtZgbvp2V+0XTIFS5PgZ8CvTRHIaawxRI8VPYIKxQNC8ytGrjId2tiwHyvk7RpW3B8uIpMmGc4SKetWQfaLIPwAUdS096y+ASiTZeeJA5eqryewz6FgHBO5tX5nz/zlGnz7cpzn71F5JLGTMEuQmv6+oUQuq6M5BTV0bO8sKDObDY1c6CVYk7cXQtd5bFk483o82Yu9fleH8ClT2YaltaCxQOfw59vyDQND8I+kAgOq05g8+WytKZnDrrqB/lsFk0SLW5C9jtu2NBV5T7EWG/9vpU6W3jZxJthrhd1KxUt03ymyg62puvmYTpttvuQVDQt8y2lCMRZj9WW5SicclKXEWbzUuhPLyJWI5mztws7hGp2qnj9IAye9GelbzT4INCWto7m1g2wETT3AYjKcdqFa0h7t/u+jJ6eq3RjxeFLmzFPIgyDbzwyE2GN77gzezVDkTxfeeSv63d2AziSXNs4dJaxQXf2oL04rCxckP8VTyX8O1iOdWF6A9OXwWsBjCZJJiJ1PBHEL7nnkVnpycRE6of6sSbX4vNtQv7eclqHHuUUYnlPXPeYA7Lh1XIJE1A=
