dist: trusty
sudo: required
language: go

go:
  - 1.9.x
  - master

matrix:
  allow_failures:
    - go: master

env:
  global:
    # Secure variables are not exposed for external pull requests: https://docs.travis-ci.com/user/pull-requests#Pull-Requests-and-Security-Restrictions
    # AWS_ACCESS_KEY_ID
    - secure: "jOUSuGO6F6wH8nn5Xq6tIR2ADQywVSqX5YJIAsxuJ1ICGv9zsL1KuGq3El5Li3EMk79IwlrocTCJVIHxcps8qOCK129pTmuWhwGGfipCd8MzkPIWhwLso7eH+RxKSrkoBfYl7U8xQokyv/0EmGSsrz2EpopQIbcK/lVyT5GYEnc/Vz2doGO8beNPtUAg3753wYt43KOguyuPHNyklGCihQWFlH8BxTuS53zZeGBSXijxif25bCBSQza0FAMrG6k4msxP5+rDYkxzKMDmXP2dovTpX5pfgG94uCXQnWOa+FSS4BA/CcHKbWezK0w5h4SXLsQ6aJxJFl8CIO9ARAluUSA/caR+Pc5ndO4GDbz/53vKIXe9Pg1qF1w+CuGGrwJJAihA1kUIA/s8E8VVu50xXZOx2OvJBaNGX1QahYHUOUjSiwPi/ddG+1jbrwgqBNyGMMlhwZteMDOwRsGfGlCDBQygu8IOROXeC3wFSGuA3UOkvtTX6Hjuug7D9/RHi/cYJHFawmvw+4883F0eAsogkl4B7xuNYXSEurfUsjz+3yQAt9KO/S3k2wMCNX8/aHSfahNQjLwX381gIw8Ky0W1qdEIh0069cDN1/hJtldwKegXw15YbBOM0wwzXxCk2tFXDhG9dE9QXzSvgcAD/oihJhQUD4/GNMoY8LuKfRTUJWE="
    # AWS_SECRET_ACCESS_KEY
    - secure: "dNtncWsClMfubvP63u0PpXWWXdiX9TNG8Pv259xUtk7iMrQC2NXTknSUxczUOC1hOHkfGTDF2BOi7ALM3KMcMI3RgnvDfdStiXc0FeEsAAndlXpHPS+zVqjB2WkU7v2mSdCsPFp/xRvtQQesFQxRw43rY4548VGBHTl7/5emQG9W84R34xTQr9Ubr9qxUUAPT4OtTZIsJjznx9cCtFXJlwGMFUbk0VkYkwjXMQntJa6TMKW/V+EhraK6YxndOUe53Mr5tT+P7XrH5xBI+/uoVm0LjrVkgqO5TYC6VKU1MyNQujT3u65ZH57BEECG+LoUCHsta3qrtpuiSip/L4fE4gSFBXNEqvnyTynWkAx1/oPsfzzg9b7X1rlvVVeOqAxFm5yJKY2hDfkzTr6R988NakTt1y9RhJ14k5QOCH3LnFPqq2x1lRkb6dWAxLDmH7vtbmrLtFZYLDkWv2UbuYFjqyaNmuW1nUl27yML2xXhCobFt+ZGTWaARBb/uIr36EMrTLSHwV0HzSYMHAuclzIJzTlcB7O+24SfaOsJSGAKnM65H4fC36V/ODRBOgD26z8lMmnF2RqcXRQ8Z1NuWNb1gBInrMglrvIIpNf1S+BvhSGKa1hg4W89eK6G3xzPsjoQmUrhth8ig4rqHgp1C0QZoNWkLNcyZDNTP+ICgOFHDLc="
    # AWS_RDS_USERNAME
    - secure: "GuCNWBH+xyloulr0jah0CczvG15F0I6Ps4VDqv7404xcW+6IUGMr1Ojigw6WbbyMp+Xl+/LQJQVyXPluhZk6w4dx4WURjyjY8ER2ib5FnkwlNeFAh7L/2/HQHMJbTdAF/K8DkunA6oHoyYPit9yYUDltTpwjbugAFETuA9KD0nMmGzYz+vVYbDfd9AKxV/CNtx/6546uaUT5pDmQyIa8MgThzOznYaAnVpvCzRWzomlVPDN3ye2ZrXv7OKWDzeZcx6Fy/8w7SV9YIEP9mXkF57vGKB018NdHozETGxvQVN3oB715WC1vL9fTsYeVlFfUJyYiT/aoMCHQTLO885NockrgcQWBP/Ldzqf3aSA4RGCy/6m3OTViQ7T44UlZsEIraY8uL/sYlQVW9MoA1aUr36ck3+DHtASB5AMJvA8lWJ97fLs/WL69hVO8j3tNlr09KBQzojFLm3/gT8tSOBHkPwkJBlcAP4eCTTLSOmx45Gl5dtyR2/iNhR9tdQ+mNPqiOU5Qvub702hhGKeIQZ5SllU/kBcvYzwwsFxdzhLupHeMzkMHoXqv5pyPrLUaGknNbPNq/9LCZv3K9PVckL7p3Wwh5M3te5nwHOAC1JeX7jCYeehUcx2NhGvugU4FeuCskjXc3hTsKkUrdABA0Tz4Fu16tzBMYxVPMJQb2X6/ADg="
    # AWS_RDS_PASSWORD
    - secure: "oD1CbcvhiIoNQbQJaiS+DmVoNnUyMAbkVyJ+UjOJgDaSuMXQJZp+/ocyvgubespBhV2ojj7hxMakTtB1uRqNvBLwp1qxuoevk19RISOWK7tZivtXdx6+HG2pu27jQM9uf8uP+Co3Nf+PUifBFIps6fuZFaPWMYHNHWEUp3Z2RBiRDXyT7Wi3j+J2JO8DmNMaPHmnUrxPRJZBypvmIwt3CDVEd+6Hy37cvMw3CsphAXPQOokfTmR/D7f/uziGFg9NRuYhjQv2ncxmIUjRqqxzvaVS1zoDfts/s2tnqwswWZpq5ossg+crWFTZmm80QCzfnWoyOHqtkZM8fwD+jMwDdEiI6LdSCkDmaEAVWB2KcRYTtY0JmfQMixrNRG413BG792otwT/ShlS78uTAEVT1tjDnh7bUwjpbmaVSDpuaeijpEnrVrXJObRBO+E1Y0QLhV0I0ZVKleaT5Y8M04YR2MWGfzr4Bz+q8p4cIWZ6R5kTtrCEAElgCgKfdfZep+YxyerHTCZlCBal2SL/ZcCR0CVzrAiCOO5QId5dA0AE5h185BzhXLXrs5I1PiO5ZXDjRAFw2z+Vr3EdV1Onx0/ulrnCZ0BsOO/t0nUIMqD33JG27xkaMB4+leSjAwcW7N+Wc9ql1+CBT7uHkXKmDyhDY7+UjSBlqHhC6zF2D3stmeMY="

    - MYSQL_IMAGE=percona/percona-server:5.7

  matrix:
    - PROMETHEUS_IMAGE=prom/prometheus:v1.8.2
      CONSUL_IMAGE=consul:0.8.5
    - PROMETHEUS_IMAGE=prom/prometheus:v1.8.2
      CONSUL_IMAGE=consul:1.0.0
    # TODO
    # - PROMETHEUS_IMAGE=prom/prometheus:master
    #   CONSUL_IMAGE=consul:latest

before_install:
  # no package for Trusty yet
  # - sudo add-apt-repository -y ppa:maarten-fonville/protobuf
  # - sudo apt-get -qq update
  # - sudo apt-get install -y protobuf

  # install protoc the hard way
  # - git clone --depth 1 --branch v3.3.2 https://github.com/google/protobuf /tmp/protobuf
  # - cd /tmp/protobuf
  # - ./autogen.sh
  # - ./configure
  # - make -j2
  # - sudo make install
  # - sudo ldconfig

  # install compiled release
  - wget https://github.com/google/protobuf/releases/download/v3.5.0/protoc-3.5.0-linux-x86_64.zip
  - unzip -q protoc-3.5.0-linux-x86_64.zip
  - sudo install -d /usr/local/include/google/protobuf/compiler
  - sudo install -m 755 bin/protoc /usr/local/bin/
  - sudo install -m 644 include/google/protobuf/*.proto /usr/local/include/google/protobuf/
  - sudo install -m 644 include/google/protobuf/compiler/*.proto /usr/local/include/google/protobuf/compiler/

  - protoc --version

script:
  - sudo service mysql stop
  - docker-compose up -d

  # check that generated files are not changed
  - make init gen
  - git diff --exit-code

  - make cover

after_success:
  - bash <(curl -s https://codecov.io/bash) -X fix

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: QDKp28RJiVnst5gGKSKhVWvyIacYFLvl4eypPQoagrUm7VlQlGdmExH841OtURbqwNNsQoai2kP1XfxxSTPtTzmp6rMsBH4D4+cAfpqE2xgP/zQ1ctbA7B4hSAGu0FkAzyhiQb6HaGIeELaTiS5uTgwHn64BNgNtf8rC3mCIUanKlpAwPOejDOvldjkL3TzNkjnv9kujLQhiSSlldMownb0gNeSiH2HfYAZ9XT5wQj6rBEGI2Mk5xBzkEduLpHMe6r8Ocko3j3q3czrNrlrqgPiTzYIh+A1h6cSGu4xe6C3WmANVbHi/ieeM3YM+pT1ff5Mx0g75Kyi18zBCSWL4tBOeu+ciHPAPKFGx7sv5ivLNzoKJm/Fc3AsdkkAvSHErsrRCWdwemRveSdbNOkwDybNSso3ERRZ8YuWIP5rdKb8HIprVuMrvlrpjXi5p901Nabt7Pw4mgDBVJIIvZn8PJ4N/0T+RGO2bV38JlWIutLFHFcHcQ2QPZOiGPffxbtfmU7x7+J4QCHhA4ucYkwzxEb7UZcGpSxz3+zVoP25c480Z56KInkxIEi0LBEqw2s7MqsKpgho4KJIpCbciDhPN7MTm4aVeYjtJ0GgIbgKXuaLWMUMcYQ0yTHUHweGMHLSF/k7cdP8WSb4z1LtJqxKzye9IcejdacVPhdLzHaprW7w=
