language: go

go:
  - 1.11.x
  - master

matrix:
  allow_failures:
    - go: master

script:
  # ensure that vendor/ is in sync with code and Gopkg.toml/lock
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - dep check

  # TODO
  - make init
  - make go-build
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash) -X fix

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: MvPcu8ToJDcsDM5jIWugMcdRLjwbl7yDrZ6zDSmHamc7jETSt7dF0SbBIf5FoDGSeoHw/Yhxr/X38dh1eTqOYpCidOSpFKTAZwLQuMn02dj8yEC8YSfS3Of/sGTDpvY0BwqWKQnsllpAzOO1gNiqU+Bhvl6SmP3rl/RRoiggqUeLHdbRhTeYko1C3cYjFT3L45XgZxjGOFrFvEp+97NEE10+JEj5fFU7H6kzEvYMss61+soyHePGIDn8hxg26TAFtoCh1g+1o3x1D2XeKsh5TeDjLEUkXFvsgVg42NGl95P7xR1N61Dxw6op+gX2P2lVQKB+aM/sYxIoJx2swq+Kui5pu0Q9zFdCanfc5CQOekcXF+pAZPwWjq2xNaN/ne6pxuSwLRHXLCwi7g49fiDGwd0fudmsLX2xIXHTe5G91Kl4ESh6G2P/dCuLC/j0ZyBY+vhaQNC5bJthOxu/e6Wxb5n3Rqj+I0/j/DmX8aC3E7j8J6ByNrn6/VSlcwOVlpV2T811x/SioU00VJicw3mrILtsRoY0BXUNQgRUeiFBIjahlN9eGXxt5A4vzWzmGRNn29f18D9qMsVHNGbvolEFwXBis/V5AHW+YfuG29cWnyQWUyT7UqkyS4koWkdEYwr58zblHANAVlOQFaUmzuGaYyC0XDstenYOEN5PUHqgXg0=
