dist: bionic
language: go
os: linux

services:
  - docker

go:
  - 1.15.x
  - 1.14.x
  - tip

jobs:
  allow_failures:
    - go: tip

env:
  global:
    # REVIEWDOG_GITHUB_API_TOKEN
    - secure: e3XaA+pzOc4QdW1L9pu8xKYK1UnmzaAkoTr9KYPvSZMatNe61bynBt0wM2aqutCI4Ow83Z02cQeW4/CoZuQtbFjufkuTYKd/2pwlZ7DQCeKyafVtpwHI2A1dJBR2pxqywYn62NTxNYw1xGFqBcNr5T7FKRSoaE3GBK9H7krriXLj+5t6bU9632amoE5dx6SyJ2C1t+QxzNi8m6TaGXiAwAmDo6Y/AcocCnzFiIBcXutZIjBO5TtkEncgIDpoRiOF7kPTx2IkYXnB1wNDJM08CO0OQd3giKPzNCYjL9feCUM7lykxbx3oXEaZ6V/3JxxZhxt1WWbB53ch6tgfbEm7+Oxc37ForPLkV7sb4HS/1kxmrLbZi0IB/rIDDUn03+2rWDAF9+mnoM/r1Qdgp2GpMNYzxKqryiFhaKtoQt0erBcq5P+U6qW/Dd0eR1/rSfqv/0ixUtr2npRyiFUn3gm1ffDLeGis8H3SMNTSswhJ6AdnABWEiZ6OcmkJY46MbFMqn3osbhhgjyxsqluBpQV4Q+n1unsK4SNbvLwwIScOI5NvmInwJdBpPfyoRtEOPFmEl3vVbLpD+XjhKYUHiPoU/1cIWYrFOlRnVbq70W4ZX82OpzrXusOe8nVpVTfD7iVqyALGyTo4B2uR3P0PWrRaVx4C6eRcugyx9jxn+zHw0rE=

branches:
  except:
    - /^PMM\-\d{4}/

go_import_path: github.com/percona/qan-api2

cache:
  directories:
    - /home/travis/.cache/go-build
    # - /home/travis/gopath/pkg

before_cache:
  - go clean -testcache
  # - go clean -cache

install:
  # ensure that vendor/ is in sync with code and Gopkg.toml/lock
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - dep check
  # install reviewdog and golangci-lin
  - curl https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s

before_script:
  # ensure that generated files are not changed
  - make init
  - make gen
  - make format
  - git status
  - git diff --exit-code

script:
  # static analyze
  - make ci-reviewdog

  - make install
  - make test-env-up
  - make test-race
  - make test-cover

  - make check

after_success:
  - bash <(curl -s https://codecov.io/bash) -X fix

notifications:
  # perconacorp:token#channel
  slack:
    on_success: always
    on_failure: always
    rooms:
      - secure: dhYrTsJIRIujGzMdK3LNxk9KwepEA8H9UeP1KB9l8gUcPw44hfuAe2Cx8f5mFRlBofy6Hk1KX9WNfd2UMH9w3EeWiqnmJDdoWy2IeEQloYbg2r47jpUVfrUTRdPtMCIqN5pVn8ik/cBnjWP1UN+442bnAVwENnhtTHHSCuc+TxdicxHCxluOQctbHrpkbBdZqzJe1yrbnC8U3tahF1Xp6+z/jD+ybENy6D5dzvY2CvVA1SvKEUoDmoEnCfIbDutS5j+0WKzmoSc7ZmTYJyM/kt2jHup7RyFxS0Jn+Bf/tQUKUo1lVCNlcSi3tVjSDo6XQ3mimYxG16j0/rJdYdFiKlyiseZrJ/1Vq0ITdC+QY72o5Z1q3JESvmu9PM9wWaxL1Wtwk4AXbyi48kC/GqD5Ldvivn4dYEakCAvBRk2GreQtUbKvaytLk0fjV23Dkjxaw5OjywluYlYen5YbRQJ7DvzpP2/gW2tX9VpC7iRKruj3FymwczlAVvuh4O6PggduUNhmNX92NrBICvjNV/YbO2VRxH1bKb2iPNNpDIY59CLKXWcgXfCTmYCCQ76LcHPR/1scmUnONi5Ax/KYXRYjfoih5FrMNg1XvAWx0u5obldMrQj9BpCVQ2vEa5u3heQehOz9uwwb4bJ8lRsgm7flWQZRp9YZkxX+OhfoF9HZtV0=
