dist: bionic
language: go

services:
  - docker

go:
  - 1.12.x
  # TODO - 1.13.x https://jira.percona.com/browse/PMM-4010
  # - master

matrix:
  fast_finish: true
  allow_failures:
    - go: master

# skip non-trunk PMM-XXXX branch builds, but still build pull requests
branches:
  except:
    - /^PMM\-\d{4}/

cache:
  directories:
    - /home/travis/.cache/go-build
    # - /home/travis/gopath/pkg

before_cache:
  - go clean -testcache
  # - go clean -cache

env:
  global:
    - CODECOV_ENV=PROMETHEUS_IMAGE,GRAFANA_IMAGE,POSTGRES_IMAGE,PMM_SERVER_IMAGE

    # there is no case when pmm-update is older than pmm-managed (pmm-update self-updates first),
    # so there is no need to test with old PMM Server versions
    - PMM_SERVER_IMAGE=perconalab/pmm-server:dev-latest

  matrix:
    # what we currently use in PMM
    - PROMETHEUS_IMAGE=prom/prometheus:v2.12.0
      GRAFANA_IMAGE=grafana/grafana:6.3.6
      POSTGRES_IMAGE=postgres:11

    # latest released version
    - PROMETHEUS_IMAGE=prom/prometheus:latest
      GRAFANA_IMAGE=grafana/grafana:latest
      POSTGRES_IMAGE=postgres:latest

    # current master
    - PROMETHEUS_IMAGE=prom/prometheus:master
      GRAFANA_IMAGE=grafana/grafana:master
      POSTGRES_IMAGE=postgres:latest

before_install:
  - docker-compose up -d
  - docker exec pmm-managed-server /root/go/src/github.com/percona/pmm-managed/.devcontainer/install-dev-tools.sh

install:
  # ensure that vendor/ is in sync with code and Gopkg.toml/lock
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - dep check

before_script:
  # ensure that generated files are not changed
  - make init
  - make gen
  - make format
  - git status
  - git diff --exit-code

script:
  # for main_test.go
  - make install

  - make test-race
  - make test-cover
  - make test-crosscover

  - make devcontainer TARGET=test-race-crosscover \
                      TEST_FLAGS='-timeout=180s -v' \
                      TEST_PACKAGES=./services/supervisord \
                      TEST_RUN_UPDATE=1

  - make check

after_success:
  - curl https://codecov.io/bash > codecov
  - chmod +x codecov
  - ./codecov -f race-crosscover.out -F devcontainer,crosscover -X fix
  - ./codecov -f cover.out -F normal,cover -X fix
  - ./codecov -f crosscover.out -F normal,crosscover -X fix

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: QDKp28RJiVnst5gGKSKhVWvyIacYFLvl4eypPQoagrUm7VlQlGdmExH841OtURbqwNNsQoai2kP1XfxxSTPtTzmp6rMsBH4D4+cAfpqE2xgP/zQ1ctbA7B4hSAGu0FkAzyhiQb6HaGIeELaTiS5uTgwHn64BNgNtf8rC3mCIUanKlpAwPOejDOvldjkL3TzNkjnv9kujLQhiSSlldMownb0gNeSiH2HfYAZ9XT5wQj6rBEGI2Mk5xBzkEduLpHMe6r8Ocko3j3q3czrNrlrqgPiTzYIh+A1h6cSGu4xe6C3WmANVbHi/ieeM3YM+pT1ff5Mx0g75Kyi18zBCSWL4tBOeu+ciHPAPKFGx7sv5ivLNzoKJm/Fc3AsdkkAvSHErsrRCWdwemRveSdbNOkwDybNSso3ERRZ8YuWIP5rdKb8HIprVuMrvlrpjXi5p901Nabt7Pw4mgDBVJIIvZn8PJ4N/0T+RGO2bV38JlWIutLFHFcHcQ2QPZOiGPffxbtfmU7x7+J4QCHhA4ucYkwzxEb7UZcGpSxz3+zVoP25c480Z56KInkxIEi0LBEqw2s7MqsKpgho4KJIpCbciDhPN7MTm4aVeYjtJ0GgIbgKXuaLWMUMcYQ0yTHUHweGMHLSF/k7cdP8WSb4z1LtJqxKzye9IcejdacVPhdLzHaprW7w=
