dist: bionic
language: go
os: linux

services:
  - docker

go:
  - 1.15.x
  - tip

jobs:
  allow_failures:
    - go: tip

cache:
  directories:
    - /home/travis/.cache/go-build
    # - /home/travis/gopath/pkg

before_cache:
  - go clean -testcache
  # - go clean -cache

# skip non-trunk PMM-XXXX/SAAS-XXXX branch builds, but still build pull requests
branches:
  except:
    - /^PMM\-\d{3,5}/
    - /^SAAS\-\d{2,5}/

go_import_path: github.com/percona/pmm-update

env:
  global:
    - CODECOV_ENV=PMM_SERVER_IMAGE

    # REVIEWDOG_GITHUB_API_TOKEN
    - secure: A8Djr/UA9WRREWgw6Iknl9oDwkqYiDMeSZqBGMZOYWXNl/XbLaCwaZmKS+up8Yenc2/rGnDQM4t0zJ4APEiBEyeWMCf1nBw4Wi+FUsyTH0mh8+BlF/9mKjg2CEgBGeqf8krEfzfoUUydU2q1VUuFMZIepDQkEbQgZ0DpxAZAoCYpk5sOTpUuLuT1rNoBpmNl+0bMxJLLONwe+EGdJ4krNAFPtLqc2Uffm946Sb2+QJbT8Bvwu1w69n+hsNrWIZid+MKlgBFEa/lwLDLTQHKanMdvSWvrDj5DhuR9tLVlYkT/P9bPAwW94Rd+BNFbTJ9mUBotX1+Kvs7wnMMTqiepUCmKMqj9fsa+RwHnsi23FUNjXbWe6KqvQm2cSXdN4F0j3Yu30jW9H2wz57JcfHgFPgqQuwdBl5Jn53qDITaJjm/4Kh5npTXK0BVtRPUtjXz4zgVOgtvXyt9PELZYeSKnWk5cwAWEdfryvFT5okdV/HAOQ7W4F9IpJdmJG3VRYgV7JM0se9xzzhPRySEPewjrhj9VCHWNkXaNMPsYm5W7xZq04Ce3gnJhi6fI4vN/eqzZBes7PfhPdJ8LdkQLzwNJSv6SuRGupY2+NtBguAYHyjvJzHFAfvKN6ekVzLprMHxx0ZWksq7nTUvAzrxO7aWLMpYlSflMNe0kncsl0r1slCk=

  matrix:
    - PMM_SERVER_IMAGE=percona/pmm-server:2.0.0 # oldest production version
    - PMM_SERVER_IMAGE=percona/pmm-server:2 # latest production version
    - PMM_SERVER_IMAGE=perconalab/pmm-server:dev-latest # latest development version

before_install:
  - docker-compose up -d
  - docker exec pmm-update-server /root/go/src/github.com/percona/pmm-update/.devcontainer/install-dev-tools.sh

install: skip

before_script:
  #- make init It-s already run from install-dev-tools.sh
  - make format
  - git status
  - git diff --exit-code

script:
  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update ci-reviewdog
  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update install

  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update test-cover
  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update test-race

  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update check

  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update
    run-race-cover RUN_FLAGS='-debug -check'

  # ignore first possible self-update exit
  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update
    run-race-cover RUN_FLAGS='-debug -perform -playbook=/root/go/src/github.com/percona/pmm-update/ansible/playbook/tasks/update.yml'
    || true
  - docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm-update
    run-race-cover RUN_FLAGS='-debug -perform -playbook=/root/go/src/github.com/percona/pmm-update/ansible/playbook/tasks/update.yml'

after_success:
  - curl https://codecov.io/bash > codecov
  - chmod +x codecov
  - ./codecov -f cover.out -F cover -X fix
  - ./codecov -f *.runcover.out -F runcover -X fix

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      - secure: POSDV4dcuoIbRBYXRKIHGHBf9KvvJcGlmHEIJN9Hokw/PCxQ217zJ3/cC9FmGtOORYpKunqnuEXSSc6IgmGjPMZXap9KStpHHn3PidO2FaBQFLdCvEJF5B3TcL2nM0CgZUVwtyoQi9ecv2TJxqllHEsTs8BAr0rSe1UHWEcQamZlYGR7mzFjLNu6z8m1c1eUGvkV0KplzXgCGxmMV+TCCr9I296MLuvXSu2xKuh4aqxji4puXBjA54SHml6oegcu+nRYIcoew+A2MjOgA0cYIU/S9hOvHunpmb4pNSml7OOrjaB73kzQ59clDaopA2Ehy4szRQexq0eDmYIhSR1DvUyEXjr/dHrJz/5/j68kvFNj/9CFaXpmPY395AVyFZEatOC5wEpj7AnEQNzKVOQKQZbaXqCWE+MVtj+v2npqzUiRVCtgGQn3h1RZVZ+qUfkvGBqKzVDQYpOR/dZb+aomLndTt5IBuWIZc0XTIrPNur0i/IIriCdvPZtrRA9eBxYFGKmFdcQIM1iZLk5oXVycOS8v5v+y3MDY9VFmarRL2AF81qiaGZJWNQqJMrgnb/wlLnjVjRr5mqxm+cda+DZe78jpDwkUA9IiiY7HEOFNG8rtNFLAP2ToSga4OgP0W45djMno8hRGO/gNq1SHU6f1qmdfIc8SMVOnXrj3Grr1Fmg=
