dist: bionic
language: go

services:
  - docker

go:
  - 1.15.x
  - 1.14.x
  - tip

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

go_import_path: github.com/percona/pmm-agent

# skip non-trunk PMM-XXXX/SAAS-XXXX branch builds, but still build pull requests
branches:
  except:
    - /^PMM\-\d{3,5}/
    - /^SAAS\-\d{2,5}/

cache:
  directories:
    - /home/travis/.cache/go-build
    # - /home/travis/gopath/pkg

before_cache:
  - go clean -testcache
  # - go clean -cache

env:
  global:
    - CODECOV_ENV=MYSQL_IMAGE,MONGO_IMAGE,POSTGRES_IMAGE,PMM_SERVER_IMAGE
    # REVIEWDOG_GITHUB_API_TOKEN
    - secure: "Mr8R6UeAIlw2AKizsnFyyFv2F1mUPLscT8o+5jpoT84UyRqGNiA1RqGs7mUCAAhXj5/eImoPGKtTUOwtwnuyTAQIfvgqrSrv4MiVs1mQO1sN5XS4ev7L+Hus2b66BdtV865GXlPrRkqpC17DyOTWa/fn/ks1XCmVYafyFeAZRvVCsAjuAVGKpRuG36qLKJeosTpIE2PO5GDvoU9z/j/HSN9NW6tv/WAKFUhjrn41dDe8spXDTvy2QuRfXfK9DvakxzN/D9uBa855bsHdmAWYiBt7OGya47R5IBrc2ultFG0lEbY4CxRScg2f0SovGIHHbXTp1Q6n3qI1OOThYX+8WM+nPeWRF7nWLvVcl/cECckYgrVMZHiLovZpN6LEFdMKz7HE6DwQs64Zb7vihSMl7QmFPHZr+rAaK3qe2ZbLw3qXYwV4h5NapTRY8qouRsw2t3bRRAlj3f9hhN4kdeaaQ1CxgdQ1dJk4IsUzNdcDWg407dUe5lrH97hWitqmsNhteJSFtTCLCK8KdL8QL9wpEC039VA+eKMNehQSboYpwu+zLSR1yap69BQ+1FkVlXbliQt5qKRkxNNCuSmENNEFXxcOM6kBRXPKow7H7/I/nwok+p7W6K1zxA1jEMUsdTpc7Wlaok46LPqIQxbqD8t+V8BIYqiBWSPuox9TKtT18ck="

  matrix:
    # latest upstreams + old PMM Server releases
    - MYSQL_IMAGE=mysql:5.6 MONGO_IMAGE=mongo:3.6 POSTGRES_IMAGE=postgres:10 PMM_SERVER_IMAGE=percona/pmm-server:2.0.0
    - MYSQL_IMAGE=mysql:5.7 MONGO_IMAGE=mongo:4.0 POSTGRES_IMAGE=postgres:11 PMM_SERVER_IMAGE=percona/pmm-server:2.0.1
    - MYSQL_IMAGE=mysql:8.0 MONGO_IMAGE=mongo:4.2 POSTGRES_IMAGE=postgres:12 PMM_SERVER_IMAGE=percona/pmm-server:2.1.0
    - MYSQL_IMAGE=mysql:8.0 MONGO_IMAGE=mongo:4.4 POSTGRES_IMAGE=postgres:13 PMM_SERVER_IMAGE=percona/pmm-server:2.2.0

    # Percona + latest PMM Server release
    - MYSQL_IMAGE=percona:5.6 MONGO_IMAGE=percona/percona-server-mongodb:3.6 POSTGRES_IMAGE=perconalab/percona-distribution-postgresql:11 PG_PRELOADED_LIBS=pg_stat_statements,pg_stat_monitor  PMM_SERVER_IMAGE=percona/pmm-server:2
    - MYSQL_IMAGE=percona:5.7 MONGO_IMAGE=percona/percona-server-mongodb:4.0 POSTGRES_IMAGE=perconalab/percona-distribution-postgresql:12 PG_PRELOADED_LIBS=pg_stat_statements,pg_stat_monitor  PMM_SERVER_IMAGE=percona/pmm-server:2
    - MYSQL_IMAGE=percona:8.0 MONGO_IMAGE=percona/percona-server-mongodb:4.2 PMM_SERVER_IMAGE=percona/pmm-server:2

    # MariaDB (only 3 latest GA versions)
    #   + older supported MongoDB versions
    #   + older supported PostgreSQL versions
    #   + dev-latest PMM Server
    # - MYSQL_IMAGE=mariadb:5.5
    # - MYSQL_IMAGE=mariadb:10.0
    # - MYSQL_IMAGE=mariadb:10.1
    - MYSQL_IMAGE=mariadb:10.2 MONGO_IMAGE=mongo:3.4                          POSTGRES_IMAGE=postgres:9.4 PMM_SERVER_IMAGE=perconalab/pmm-server:dev-latest
    - MYSQL_IMAGE=mariadb:10.3 MONGO_IMAGE=percona/percona-server-mongodb:3.4 POSTGRES_IMAGE=postgres:9.5 PMM_SERVER_IMAGE=perconalab/pmm-server:dev-latest
    - MYSQL_IMAGE=mariadb:10.4                                                POSTGRES_IMAGE=postgres:9.6 PMM_SERVER_IMAGE=perconalab/pmm-server:dev-latest

before_install:
  - env ENV_UP_FLAGS=--detach make env-up

install:
  # ensure that vendor/ is in sync with code and Gopkg.toml/lock
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - dep check
  # install reviewdog
  - curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s v0.10.2

before_script:
  # ensure that generated files are not changed
  - make init
  - make gen
  - make format
  - git status
  - git diff --exit-code
  - make ci-reviewdog

script:
  # for main_test.go
  - make install

  - make test-race
  - make test-cover
  - make test-crosscover

  - make release

  - make check

after_success:
  - curl https://codecov.io/bash > codecov
  - chmod +x codecov
  - ./codecov -f cover.out -F cover -X fix
  - ./codecov -f crosscover.out -F crosscover -X fix

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: ZQUGHsOF2Wy0ylQaXFJam1DGJrf/Cg0m7leqPUsbpFkkWo/yRFxCFXvQegAIL4dzeNhHSI4SuIopsZ3OCw/UpZFlWKJ4qXWgvEYMtUKng8YkX+m4g31rO94o/G6Npo91eAN2MIJ/KB0B+Xs1iQlhCDllDMsxetjK2d1MuZlo3/Qu+qdoOiUJyRQtPbrGbJkufN1d3WxT/gIXIUDpgwI4qNZEsXXLe9jqtOsHB8ZLkBYGu/uVtr7s6aPi2p3M2n9giNK8MUEgG2fM/ySNnQxP3LB/YDckjq5iZkbCS3jyoxnjOZKTQNLh7t1D5QTeieRsQEWm5Nuj8qyNFt9iy4lvZG+3o+9JMl9ZvJe2t4O8RtgScPBmPoY+1I0dlGiJmFiIqfAxj0lo1iyIpPx8ypxh0YTh0r2b7x/Qut+Bwt5gsc7qDAYlS1wZLVGER7F/qF/mqklfGjbZbgU8gyqrj1boYstpDtRIa/ahrOWt52b3CnINLXituuAikw7mn37yVk6CFZO2Vlee/yM3Xj6DElz/VcYDGHRgPzV4Cmh14XR4GoaPIO4jRW7J6uVFmH9Szhs0fyHJpsI2VX2mmO1ws9HtjHbTcrj9ocR03dgUw4UNmbGHO7WRG0pIcH5qy7X40dWF3fHqoMFJLfmeoH1CYplLGTx4yhdV0DuQpOiL53Y+Gi0=
