---
version: '3'
services:
  test_db:
    image: aleksi/test_db:1.0.0
    container_name: test_db
    volumes:
      - test_db:/test_db/mysql/world:ro

  mysql:
    image: ${MYSQL_IMAGE:-percona:5.7}
    container_name: mysql
    ports:
      - 127.0.0.1:3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root-password
      - MYSQL_USER=pmm-agent
      - MYSQL_PASSWORD=pmm-agent-password
    volumes:
      - test_db:/docker-entrypoint-initdb.d/:ro

  mongo:
    image: ${MONGO_IMAGE:-mongo:4.0}
    command: --profile 2
    restart: always
    ports:
      - 127.0.0.1:27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: pmm-agent
      MONGO_INITDB_ROOT_PASSWORD: root-password

volumes:
  test_db:
