---
version: '3.7'
services:
  pmm-managed-server:
    image: ${PMM_SERVER_IMAGE:-perconalab/pmm-server:dev-latest}
    container_name: pmm-managed-server
    hostname: pmm-managed-server
    environment:
      - PATH=/root/go/bin:$PATH
      - GO_VERSION=${GO_VERSION:-1.18.x}
      - REVIEWDOG_GITHUB_API_TOKEN=${REVIEWDOG_GITHUB_API_TOKEN}
      - ENABLE_DBAAS=${ENABLE_DBAAS:-0}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - ENABLE_ALERTING=1
      - ENABLE_BACKUP_MANAGEMENT=1

    # for delve
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    # see https://github.com/golang/go/wiki/LinuxKernelSignalVectorBug#what-to-do
    ulimits:
      memlock: 67108864

    ports:
      - ${PMM_PORT_HTTP:-80}:80
      - ${PMM_PORT_HTTPS:-443}:443
      # For headless delve
      - ${PMM_PORT_DELVE:-2345}:2345
      # PG
      - ${PMM_PORT_PG:-15432}:5432
      # CH
      - ${PMM_PORT_CH_TCP:-11000}:9000
      - ${PMM_PORT_CH_HTTP:-11123}:8123
    volumes:
      - .:/root/go/src/github.com/percona/pmm-managed
      - ./Makefile.devcontainer:/root/go/src/github.com/percona/pmm-managed/Makefile:ro
      - go-modules:/root/go/pkg/mod # Put modules cache into a separate volume
volumes:
  go-modules:
