---
version: '3.7'
services:
  pmm-managed-server:
    image: perconalab/pmm-server:dev-container
    # build:
    #   context: .
    #   args:
    #     PMM_SERVER_IMAGE: ${PMM_SERVER_IMAGE:-perconalab/pmm-server:dev-latest}
    #   dockerfile: devcontainer.Dockerfile
    container_name: pmm-managed-server
    hostname: pmm-managed-server
    networks:
      - ${NETWORK:-default}
    environment:
      - PMM_RELEASE_PATH=/root/go/bin
      - REVIEWDOG_GITHUB_API_TOKEN=${REVIEWDOG_GITHUB_API_TOKEN}
      - ENABLE_DBAAS=${ENABLE_DBAAS:-0}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - ENABLE_ALERTING=1
      - ENABLE_BACKUP_MANAGEMENT=1
#      - PERCONA_TEST_PLATFORM_ADDRESS=https://check.localhost
#      - PERCONA_TEST_PLATFORM_INSECURE=1
#      - PERCONA_TEST_PLATFORM_PUBLIC_KEY=<public key>
#      - PERCONA_TEST_TELEMETRY_INTERVAL=10s
#      - PERCONA_TEST_TELEMETRY_RETRY_BACKOFF=10s
#      - PMM_DEBUG=1

    extra_hosts:
      - host.docker.internal:host-gateway
    #      - portal.localhost:${PORTAL_HOST:-host-gateway}
    #      - check.localhost:${PORTAL_CHECK_HOST:-host-gateway}
    #      - pmm.localhost:${PORTAL_PMM_HOST:-host-gateway}
    #      - check-dev.percona.com:${PORTAL_PMM_HOST:-host-gateway}

    # for delve
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    # see https://github.com/golang/go/wiki/LinuxKernelSignalVectorBug#what-to-do
    ulimits:
      memlock: 67108864

    ports:
      - ${PMM_PORT_HTTP:-80}:80
      - ${PMM_PORT_HTTPS:-443}:443
      # For headless delve
      - ${PMM_PORT_DELVE:-2345}:2345
      # PG
      - ${PMM_PORT_PG:-15432}:5432
      # CH
      - ${PMM_PORT_CH_TCP:-11000}:9000
      - ${PMM_PORT_CH_HTTP:-11123}:8123
    volumes:
      - ./:/root/go/src/github.com/percona/pmm
      - /home/michael/lab/org/prc/src/wsproxy:/root/go/src/github.com/percona/wsproxy
      - ./Makefile.devcontainer:/root/go/src/github.com/percona/pmm/Makefile:ro # change Makefile in devcontainer
      # caching
      - go-modules:/root/go/pkg/mod
      - root-cache:/root/.cache

volumes:
  go-modules:
  root-cache:

networks:
  minikube:
    external:
      name: minikube
