---
# version: '3.7' // Deprecated: see https://docs.docker.com/compose/compose-file/04-version-and-name/
services:
  pmm-server:
    profiles:
      - pmm
    image: ${PMM_CONTAINER:-perconalab/pmm-server:3-dev-container}
    # build:
    #   context: .
    #   args:
    #     PMM_SERVER_IMAGE: ${PMM_SERVER_IMAGE:-perconalab/pmm-server:3-dev-latest}
    #   dockerfile: devcontainer.Dockerfile
    container_name: pmm-server
    hostname: pmm-server
    networks:
      - ${NETWORK:-default}
    environment:
      - PMM_RELEASE_PATH=/root/go/bin
      - REVIEWDOG_GITHUB_API_TOKEN=${REVIEWDOG_GITHUB_API_TOKEN}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - ENABLE_RBAC=${ENABLE_RBAC:-0}
      - LESS_LOG_NOISE=1
      - PERCONA_TEST_VERSION_SERVICE_URL=${PERCONA_TEST_VERSION_SERVICE_URL}
      # - PERCONA_TEST_PLATFORM_ADDRESS=https://check.localhost
      # - PERCONA_TEST_PLATFORM_INSECURE=1
      # - PERCONA_TEST_PLATFORM_PUBLIC_KEY=<public key>
      # - PERCONA_TEST_TELEMETRY_INTERVAL=10s
      # - PERCONA_TEST_TELEMETRY_DISABLE_START_DELAY=1
      # - PERCONA_TEST_TELEMETRY_RETRY_BACKOFF=10s
      # - PERCONA_TEST_PMM_CLICKHOUSE_ADDR=127.0.0.1:9000
      # - PERCONA_TEST_PMM_CLICKHOUSE_DATABASE=pmm
      # - PERCONA_TEST_PMM_CLICKHOUSE_BLOCK_SIZE=10000
      # - PERCONA_TEST_PMM_CLICKHOUSE_POOL_SIZE=2
      # - PERCONA_TEST_CHECKS_FILE=/srv/checks/local-checks.yml
      # - PERCONA_TEST_POSTGRES_ADDR=pg
      # - PERCONA_TEST_POSTGRES_DBNAME=pmm-managed
      # - PERCONA_TEST_POSTGRES_USERNAME=pmm-managed
      # - PERCONA_TEST_POSTGRES_DBPASSWORD=pmm-managed
      # - PERCONA_TEST_POSTGRES_SSL_MODE=verify-full
      # - PERCONA_TEST_POSTGRES_SSL_CA_PATH=/tmp/certs/root.crt
      # - PERCONA_TEST_POSTGRES_SSL_KEY_PATH=/tmp/certs/pmm-managed.key
      # - PERCONA_TEST_POSTGRES_SSL_CERT_PATH=/tmp/certs/pmm-managed.crt
      # - PERCONA_TEST_PMM_DISABLE_BUILTIN_POSTGRES=1
      # - GF_DATABASE_SSL_MODE=verify-full
      # - GF_DATABASE_CA_CERT_PATH=/tmp/certs/root.crt
      # - GF_DATABASE_CLIENT_KEY_PATH=/tmp/certs/grafana.key
      # - GF_DATABASE_CLIENT_CERT_PATH=/tmp/certs/grafana.crt

    extra_hosts:
      - host.docker.internal:host-gateway
      # - portal.localhost:${PORTAL_HOST:-host-gateway}
      # - check.localhost:${PORTAL_CHECK_HOST:-host-gateway}
      # - pmm.localhost:${PORTAL_PMM_HOST:-host-gateway}
      # - check-dev.percona.com:${PORTAL_PMM_HOST:-host-gateway}

    # for delve
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    # see https://github.com/golang/go/wiki/LinuxKernelSignalVectorBug#what-to-do
    ulimits:
      memlock: 67108864

    ports:
      - ${PMM_PORT_HTTP:-80}:80
      - ${PMM_PORT_HTTPS:-443}:443
      # For headless delve
      - ${PMM_PORT_DELVE:-2345}:2345
      # PG
      - ${PMM_PORT_PG:-15432}:5432
      # VM
      - ${PMM_PORT_VM:-9090}:9090
      # CH
      - ${PMM_PORT_CH_TCP:-11000}:9000
      - ${PMM_PORT_CH_HTTP:-11123}:8123
    volumes:
      - ./:/root/go/src/github.com/percona/pmm
      - ./Makefile.devcontainer:/root/go/src/github.com/percona/pmm/Makefile:ro # substitute Makefile in devcontainer
      # caching
      - go-modules:/root/go/pkg/mod
      - root-cache:/root/.cache
    # command: >
    #   bash -c "
    #     rm -rf /tmp/certs
    #     mkdir /tmp/certs
    #     cp -R /root/go/src/github.com/percona/pmm/managed/testdata/pg/certs/* /tmp/certs
    #     chown grafana:grafana /tmp/certs/*
    #     chmod 600 /tmp/certs/*
    #     /opt/entrypoint.sh
    #   "

  # PMM with external DBs
  ch:
    profiles:
      - pmm-external-dbs
    image: ${CH_IMAGE:-clickhouse/clickhouse-server:22.6.9.11-alpine}
    platform: linux/amd64
    hostname: ${CH_HOSTNAME:-ch}
    ports:
      - ${CH_PORT:-9000}:9000
    networks:
      - ${NETWORK:-default}
  victoriametrics:
    profiles:
      - pmm-external-dbs
    hostname: ${VM_HOSTNAME:-victoriametrics}
    image: victoriametrics/victoria-metrics:v1.88.1
    ports:
      - 8428:8428
      - 8089:8089
      - 8089:8089/udp
      - 2003:2003
      - 2003:2003/udp
      - 4242:4242
    volumes:
      - vmdata:/storage
    command:
      - "--storageDataPath=/storage"
      - "--graphiteListenAddr=:2003"
      - "--opentsdbListenAddr=:4242"
      - "--httpListenAddr=:8428"
      - "--influxListenAddr=:8089"
    networks:
      - ${NETWORK:-default}
  pmm-managed-server-ch:
    profiles:
      - pmm-external-dbs
    depends_on:
      - ch
      - victoriametrics
    image: ${PMM_CONTAINER:-perconalab/pmm-server:3-dev-container}
    container_name: pmm-server
    hostname: pmm-server
    networks:
      - ${NETWORK:-default}
    environment:
      - PMM_RELEASE_PATH=/root/go/bin
      - REVIEWDOG_GITHUB_API_TOKEN=${REVIEWDOG_GITHUB_API_TOKEN}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - ENABLE_BACKUP_MANAGEMENT=1
      # - PERCONA_TEST_PLATFORM_ADDRESS=https://check.localhost
      # - PERCONA_TEST_PLATFORM_INSECURE=1
      # - PERCONA_TEST_PLATFORM_PUBLIC_KEY=<public key>
      # - PERCONA_TEST_TELEMETRY_INTERVAL=10s
      # - PERCONA_TEST_TELEMETRY_RETRY_BACKOFF=10s
      # - PERCONA_TEST_TELEMETRY_DISABLE_START_DELAY=1
      - PERCONA_TEST_PMM_CLICKHOUSE_ADDR=${CH_HOSTNAME:-ch}:9000
      - PERCONA_TEST_PMM_CLICKHOUSE_DATABASE=pmm
      - PERCONA_TEST_PMM_CLICKHOUSE_BLOCK_SIZE=10000
      - PERCONA_TEST_PMM_CLICKHOUSE_POOL_SIZE=2
      # - PMM_DEBUG=1
      - PMM_VM_URL=${PMM_VM_URL:-http://victoriametrics:8428/}
      - PMM_DEBUG=1

    extra_hosts:
      - host.docker.internal:host-gateway
      # - portal.localhost:${PORTAL_HOST:-host-gateway}
      # - check.localhost:${PORTAL_CHECK_HOST:-host-gateway}
      # - pmm.localhost:${PORTAL_PMM_HOST:-host-gateway}
      # - check-dev.percona.com:${PORTAL_PMM_HOST:-host-gateway}

    # for delve
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined

    # see https://github.com/golang/go/wiki/LinuxKernelSignalVectorBug#what-to-do
    ulimits:
      memlock: 67108864

    ports:
      - ${PMM_PORT_HTTP:-80}:80
      - ${PMM_PORT_HTTPS:-443}:443
      # For headless delve
      - ${PMM_PORT_DELVE:-2345}:2345
    volumes:
      - ./:/root/go/src/github.com/percona/pmm
      #  - "../grafana/public:/usr/share/grafana/public"
      - ./Makefile.devcontainer:/root/go/src/github.com/percona/pmm/Makefile:ro # change Makefile in devcontainer
      # caching
      - go-modules:/root/go/pkg/mod
      - root-cache:/root/.cache

  # PMM with external Postgres DB
  pg:
    profiles:
      - pmm-pg
    build:
      context: ./managed/testdata/pg
      args:
        POSTGRES_IMAGE: ${POSTGRES_IMAGE:-postgres:14}
      dockerfile: Dockerfile
    container_name: pmm-pg
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-pmm-password}
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    command: |
      postgres
      -c shared_preload_libraries=pg_stat_statements
      -c pg_stat_statements.max=10000
      -c pg_stat_statements.track=all
      -c pg_stat_statements.save=off
      -c fsync=off
      -c ssl=on
      -c ssl_ca_file=/certs/root.crt
      -c ssl_cert_file=/certs/server.crt
      -c ssl_key_file=/certs/server.key
      -c hba_file=/conf/pg_hba.conf
    networks:
      - ${NETWORK:-default}

volumes:
  go-modules:
  vmdata: {}
  root-cache:
