site_name: Percona Monitoring and Management
site_description: Documentation
site_author: Percona LLC
copyright: Percona LLC, &#169; 2021

repo_name: percona/pmm-doc
repo_url: https://github.com/percona/pmm-doc
edit_uri: edit/main/docs/

use_directory_urls: false

# Theme for netlify testing
theme:
  name: material
  logo: _images/percona-logo.svg
  favicon: _images/percona_favicon.ico
  palette:
    primary: orange

extra_css:
  - https://unicons.iconscout.com/release/v3.0.3/css/line.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css
  - css/version-select.css
  - css/toctree.css
  - css/percona.css

extra_javascript:
  - js/version-select.js
  - js/toctree.js

markdown_extensions:
  - attr_list
  - toc:
      permalink: True
  - admonition
  - def_list   # https://michelf.ca/projects/php-markdown/extra/#def-list
  - meta
  - smarty:
        smart_angled_quotes: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed
  - pymdownx.tilde
  - pymdownx.superfences
  - pymdownx.highlight:
        linenums: false
  - plantuml_markdown

plugins:
  - search
  - git-revision-date
  - bootstrap-tables
  - section-index # Adds links to nodes - comment out when creating PDF
#  - htmlproofer # Uncomment to check links - but extends build time significantly
  - macros:
        include_yaml:
          - 'variables.yml' # Use in markdown as '{{ VAR }}'
          - 'nav.yml'       # Navigation (table of contents)
  - exclude: # Don't process these files
        glob:
          - setting-up/client/docker.md # Moved to setting-up/client/index.md

extra: # Used in main.html template and can't be externalised
    open_issue_text: '<i class="uil uil-exclamation-triangle"></i> Report a problem
        with this page'
    open_issue_subject: 'PMM2: doc issue on page '
    open_issue_body: 'Please describe the issue here'
    open_issue_tooltip: 'Report an issue with this page on GitHub'
    edit_page_text: '<i class="uil uil-pen"></i> <b>Edit this page</b>'
    updated_text: '<i class="uil uil-refresh"></i> Page updated'
