mkdocs
mkdocs-macros-plugin
mkdocs-exclude
markdown-include
mkdocs-material
mkdocs-with-pdf
plantuml-markdown
mkdocs-git-revision-date-plugin
mkdocs-material-extensions
mkdocs-bootstrap-tables-plugin
mkdocs-section-index
mkdocs-htmlproofer-plugin
mike>=1.1.0
lightgallery
mkdocs-mermaid2-plugin
