.idea/
.vscode/
.DS_Store
bin/
fuzzdata/
cover.out
crosscover.out
packages.png
*.zip
*.test
pmm3-api-tests-output.txt
pmm3-api-tests-junit-report.xml
.env
.env.*
.dev.*
local/
config/telemetry/dev

pmm-managed
