apiVersion: 1
datasources:
- name: Metrics
  version: 2
  orgId: 1
  type: prometheus
  access: proxy
  url: http://127.0.0.1:8430/prometheus/
  isDefault: true
  jsonData:
    httpMethod: POST
    keepCookies: []
    timeInterval: 1s
- name: PostgreSQL
  version: 2
  orgId: 1
  type: postgres
  access: proxy
  url: ${POSTGRES_ADDR}
  user: ${POSTGRES_USERNAME}
  database: ${POSTGRES_DBNAME}
  jsonData:
    sslKeyFile: ${POSTGRES_SSL_KEY_PATH}
    sslCertFile: ${POSTGRES_SSL_CERT_PATH}
    postgresVersion: "1100"
    sslmode: ${POSTGRES_SSL_MODE}
  secureJsonData:
    password: ${POSTGRES_DBPASSWORD}
- name: ClickHouse
  version: 2
  orgId: 1
  type: vertamedia-clickhouse-datasource
  access: proxy
  url: http://${PERCONA_TEST_PMM_CLICKHOUSE_DATASOURCE_ADDR}
  jsonData:
    keepCookies: []
- name: PTSummary
  version: 2
  orgId: 1
  type: pmm-pt-summary-datasource
  access: proxy
- name: Prometheus AlertManager
  version: 2
  orgId: 1
  type: camptocamp-prometheus-alertmanager-datasource
  access: proxy
  url: http://localhost:9093/alertmanager/
  jsonData:
    keepCookies: []
