[mysqld]
# Old clients (e.g. the bundled libmysqlclient in perconalab/sysbench) can't
# negotiate caching_sha2_password over an insecure connection. Default the
# root user (created on first init) to mysql_native_password instead.
default_authentication_plugin = mysql_native_password

slow_query_log = ON
slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log_always_write_time = 0
long_query_time = 0
log_slow_admin_statements = ON
log_slow_extra = ON
