---
# This playbook contains tasks executed during PMM Server update.
- hosts: localhost
  become: true
  remote_user: root
  gather_facts: true

  environment:
    PATH: /usr/local/bin:{{ ansible_env.PATH }}

  pre_tasks:
    - name: detect /srv/pmm-distribution
      stat:
        path: /srv/pmm-distribution
      no_log: true
      register: srv_pmm_distribution

    - name: detect containers
      set_fact:
        is_docker: '{{ lookup("file", "/srv/pmm-distribution") == "docker" }}'
      no_log: true
      when: srv_pmm_distribution.stat.exists

    - name: force container
      set_fact:
        is_docker: true
      when: is_docker is undefined

  tasks:
    - name: Enable maintenance mode
      copy:
        src: maintenance.html
        dest: /usr/share/pmm-server/maintenance/
        mode: 0644

    - name: Cleanup yum metadata
      command: yum clean metadata
      become: true
      tags:
        - skip_ansible_lint

    - name: Create supervisord dir
      file:
        path: /etc/supervisord.d/
        state: directory

    - name: Upgrade supervisor config
      copy:
        src: pmm.ini
        dest: /etc/supervisord.d/pmm.ini

    # restart pmm-managed-init and pmm-managed first as they may update supervisord configuration on start
    - name: Generate new supervisor config
      command: pmm-managed-init
      register: managed_init_result
      changed_when: True

    - name: Disable pmm-update-perform-init
      ini_file:
        path: /etc/supervisord.d/pmm.ini
        section: program:pmm-update-perform-init
        option: autostart
        value: "false"

    - name: Upgrade supervisord config
      copy:
        src: supervisord.ini
        dest: /etc/supervisord.d/supervisord.ini

    - name: Remove supervisord
      file:
        state: absent
        path: /etc/supervisord.d/supervisord.ini
      when: not is_docker

    - name: Create grafana config
      include_role:
        name: grafana

    - name: Install postgres
      include_role:
        name: postgres

    # Set forking type to 'simple'
    - name: Configure systemd
      when: not is_docker
      copy:
        src: supervisord.service
        dest: /usr/lib/systemd/system/supervisord.service
        mode: 0644

    - name: Remove old supervisord service configuration
      when: not is_docker
      file:
        path: /etc/systemd/system/supervisord.service
        state: absent

    # Start the services
    - name: Enable supervisord        | Make the service persist between reboots
      when: not is_docker
      systemd:
        name: supervisord
        enabled: yes

    - name: Supervisord start        | Start supervisord service for AMI/OVF
      when: not is_docker
      systemd:
        name: supervisord
        state: started # supervisord may already be running
        daemon_reload: yes

    - name: Check that supervisor socket exists
      stat:
        path: /var/run/supervisor/supervisor.sock
      register: is_supervisor_running

    - name: Supervisord start EL9        | Start supervisord for docker
      when: 
        - is_docker 
        - not is_supervisor_running.stat.exists
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      shell: supervisord -c /etc/supervisord.conf &

    - name: Wait until postgres port is present before continuing
      wait_for:
        host: localhost
        port: 5432
        timeout: 150

    - name: Run initialization playbook
      include_role:
        name: initialization
      vars:
        ui_upgrade: True

    - name: Enable crond service
      when: not is_docker
      service:
        name: crond
        state: started
        enabled: yes

    - name: Increase number of open files for jobs
      when: not is_docker
      ini_file:
        dest: /etc/supervisord.conf
        section: supervisord
        option: minfds
        value: "800000"

    # See https://github.com/Supervisor/supervisor/issues/1264 for explanation
    # why we do reread + stop/remove/add instead of using supervisorctl Ansible module.
    - name: Reread supervisord configuration EL9
      when:
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      command: supervisorctl reread
      register: reread_result
      changed_when: "'No config updates to processes' not in reread_result.stdout"

    - name: Check reread results
      debug: var=reread_result.stdout_lines

    - name: Restart pmm-managed EL9
      when: 
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      command: supervisorctl {{ item }} pmm-managed
      become: true
      changed_when: true
      with_items: ["stop", "remove", "add"]

    # give pmm-managed time to update supervisord configuration,
    # and give update UI time to catch up after pmm-managed restart
    - name: Wait for pmm-managed
      pause: seconds=10

    - name: Install nginx
      include_role:
        name: nginx

    - name: Install clickhouse
      include_role:
        name: clickhouse

    # Fix things that should be fixed before restarts.

    - name: Stop systemd pmm-agent service, if running
      systemd:
        name: pmm-agent
        state: stopped
        enabled: no
      when: not is_docker

    # https://jira.percona.com/browse/PMM-9298
    - name: Copy rezise-xfs file for lvm
      copy:
        src: resize-xfs-lvm
        dest: /var/lib/cloud/scripts/per-boot/resize-xfs
        mode: 0755
      when: not is_docker

    - name: Create change-admin-password command
      copy:
        src: change-admin-password
        dest: /usr/local/sbin/change-admin-password
        mode: 0755

    # https://jira.percona.com/browse/PMM-5271
    - name: Check volume size
      when: not is_docker
      replace:
        dest: /var/lib/cloud/scripts/per-boot/resize-xfs
        regexp: "set -o errexit"
        replace: ""

    - name: Reread supervisord configuration again EL9
      when: 
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      command: supervisorctl reread
      register: reread_result
      changed_when: "'No config updates to processes' not in reread_result.stdout"

    - name: Check reread results
      debug: var=reread_result.stdout_lines

    - name: Restart services EL9
      when: 
        - is_docker
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      command: supervisorctl {{ item.1 }} {{ item.0 }}
      become: true
      changed_when: true
      with_nested:
        - - alertmanager
          - nginx
          - grafana
          - qan-api2
          - pmm-agent
        - ["stop", "remove", "add"]

    - name: Check supervisord logs
      shell: sleep 10 && tail -n 200 /srv/logs/supervisord.log

    - name: Check ownership of /etc/grafana
      command: ls -la /etc/grafana
    
    - name: Check grafana logs
      shell: cat /srv/logs/grafana.log

    - name: Delete unused grafana artifacts
      file:
        state: absent
        path: "{{ item }}"
      loop:
        - /usr/share/grafana/data/grafana.db

    - name: Fix grafana fields type
      postgresql_query:
        db: grafana
        query: "{{ item }}"
      loop:
        - ALTER TABLE tag ALTER COLUMN key TYPE text;
        - ALTER TABLE tag ALTER COLUMN value TYPE text;
        - ALTER TABLE api_key ALTER COLUMN key TYPE text;
        - ALTER TABLE api_key ALTER COLUMN name TYPE text;
      when: not ansible_check_mode

    - name: Change default admin id
      postgresql_query:
        db: grafana
        query: UPDATE "user" SET id='1' WHERE login='admin';
      when: not ansible_check_mode

    # we need to put this step as one of the last steps, because it removes pmm.ini and /etc/alertmanager.yml
    - name: Remove old or redundant packages
      yum:
        state: absent
        name:
          - percona-qan-app # https://jira.percona.com/browse/PMM-6766
          - mariadb-libs # https://jira.percona.com/browse/PMM-5215
          - logrotate # https://jira.percona.com/browse/PMM-7627
          - pmm-server # https://jira.percona.com/browse/PMM-11239
          - screen
          - yum-cron

    # Regenerating pmm.ini and enabling pmm-update-perform-init
    - name: Generate new supervisor config
      command: pmm-managed-init
      register: managed_init_result
      changed_when: True

    - name: Reread pmm-update-perform-init supervisor config EL9
      when:
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      command: supervisorctl reread
      register: reread_init__result
      changed_when: "'No config updates to processes' not in reread_init__result.stdout"

    # restarting pmm-managed to regenerate /etc/alertmanager.yml
    - name: Restart pmm-managed EL9
      when:
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      command: supervisorctl {{ item }} pmm-managed
      become: true
      changed_when: true
      with_items: ["stop", "remove", "add"]

    - name: Update/restart other services EL9
      when:
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      command: supervisorctl update
      register: update_result
      changed_when: "'updated' in update_result.stdout"

    - name: Print other services's logs
      debug: var=update_result.stdout_lines

    - name: Wait for PMM to be ready
      ansible.builtin.uri:
        url: "http://127.0.0.1:7772/v1/readyz"
        status_code: 200
        method: GET
      register: healthcheck
      until: healthcheck is not failed
      retries: 120
      delay: 1

    # SIGUSR2 is sent to supervisord by pmm-managed right before the update for logging to work correctly.
    # We use that fact to show what was restarted during the update.
    - name: Get supervisord logs EL9
      when: 
        - ansible_distribution == 'OracleLinux' or ansible_distribution == 'AlmaLinux'
        - ansible_distribution_major_version == '9'
      shell: supervisorctl maintail -100000 | tac | awk '!flag; /received SIGUSR2/{flag = 1};' | tac
      register: maintail_result
      changed_when: False

    - name: Print supervisord logs
      debug: var=maintail_result.stdout_lines

    - name: Disable maintenance mode
      file:
        state: absent
        path: /usr/share/pmm-server/maintenance/maintenance.html
