/*
    :root { --md-admonition-icon--seealso: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 11.55C9.64 9.35 6.48 8 3 8v11c3.48 0 6.64 1.35 9 3.55 2.36-2.19 5.52-3.55 9-3.55V8c-3.48 0-6.64 1.35-9 3.55zM12 8c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3z"/></svg>') }

    :root{--print-md-admonition-icon--note: none }
*/

/*
.md-typeset .admonition.seealso,
  .md-typeset details.seealso {
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .seealso > .admonition-title,
  .md-typeset .seealso > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
*/
/*
.seealso > .admonition-title::before,
.seealso > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--seealso);
    mask-image: var(--md-admonition-icon--seealso);
    border-width: 1px;
    border-bottom: thin;
}
*/
/*
@media print {

    .md-typeset .note > .admonition-title::before,
    .md-typeset .note > summary::before {
        background-color: none !important;
        background-image: none !important;
    }
}
*/

.admonition {
    font-size: 100% !important;
    color: #777 !important;
  }

.md-typeset .admonition.note,
.md-typeset details.note {
    border-color: #fff;
}