@import url('https://fonts.googleapis.com/css?family=Chivo');

@media print {
  html {
    font-size: 100% !important;
  }

  body {
    font-size: 10pt !important;
    font-family: 'chivo', sans-serif !important;
    color: #777 !important;
  }

  article {
    font-size: 10pt !important;
    line-height: 1.4 !important;
    text-align: justify !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'chivo', sans-serif !important;
    color: #e97e03 !important;
    text-align: left !important;
  }

a {
  color: #fc8b0a !important;
}

  pre,
  code,
  var,
  samp,
  kbd,
  tt {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
    font-size: 0.9em !important;
  }

  pre code,
  pre var,
  pre samp,
  pre kbd,
  pre tt {
    font-size: 90% !important;
  }
}
