article {
  h1, h2, h3 {
    border-bottom: 0px solid #fff !important;
    //    font-size: 10% !important;
  }
  h1>.pdf-order,
  h2>.pdf-order,
  h3>.pdf-order {
    padding-left: 6px !important;
    padding-right: 0.8rem !important;
  }
}

article h1, h2, h3 {
  border-bottom: 0px solid #fff !important;
}