article {
  h1 {
    border-bottom: 12px solid #e97e03 !important;
    font-size: 10% !important;
  }
  h2 {
    border-bottom: 1px solid #000 !important;
  }
  h3 {
    border-bottom: 0.5px solid #eee;
  }
  h1>.pdf-order,
  h2>.pdf-order,
  h3>.pdf-order {
    padding-left: 6px !important;
    padding-right: 0.8rem !important;
  }
}
