/* Custom styling for admonitions */
/*
div.seealso .admonition-title {
    webkit mask-image: var(--md-admonition-icon--note);
}
div.caution .admonition-title {
    background-color: #aa0303;
    color: #ffffff;
    font-size: 2em;
}
*/