# Grafana data sources configuration
# This file provisions the default data sources for the OpenTelemetry logging setup

apiVersion: 1

deleteDatasources:
  - name: ClickHouse-Logs
    orgId: 1

datasources:
  # ClickHouse data source for OpenTelemetry logs
  # https://github.com/grafana/clickhouse-datasource?tab=readme-ov-file#with-a-configuration-file
  - name: ClickHouse-Logs
    uid: clickhouse-logs
    orgId: 1
    version: 2
    type: grafana-clickhouse-datasource
    isDefault: false
    jsonData:
      defaultDatabase: otel
      defaultTable: logs
      host: ${PMM_CLICKHOUSE_HOST}
      port: ${PMM_CLICKHOUSE_PORT}
      username: ${PMM_CLICKHOUSE_USER}
      tlsSkipVerify: false
      logs:
        defaultDatabase: otel
        defaultTable: logs
        otelEnabled: true
        # otelVersion: v1
        timeColumn: Timestamp
        levelColumn: SeverityText
        messageColumn: Body
    secureJsonData:
      password: ${PMM_CLICKHOUSE_PASSWORD}
