/.idea/
/.vscode/
/bin/
cover.out
crosscover.out

/testdata/

*.bench

/agents/mysql/slowlog/parser/corpus/
/agents/mysql/slowlog/parser/crashers/
/agents/mysql/slowlog/parser/suppressions/
/agents/mysql/slowlog/parser/parser-fuzz.zip

fuzzing/
*-fuzz.zip

backoff.png
pmm-agent-dev.yaml
