---
version: '3.7'

services:
  pmm-server:
    image: ${PMM_SERVER_IMAGE:-perconalab/pmm-server:3-dev-latest}
    container_name: pmm-agent_pmm-server
    ports:
      - "127.0.0.1:80:8080"
      - "127.0.0.1:443:8443"
    environment:
      - PMM_DEBUG=1
      # for local development
      - PMM_DEV_ADVISOR_CHECKS_FILE=/srv/checks/custom-checks.yml
      # for check-dev
      # - PMM_DEV_PERCONA_PLATFORM_ADDRESS=check-dev.percona.com:443
      # - PMM_DEV_PERCONA_PLATFORM_PUBLIC_KEY=RWTg+ZmCCjt7O8eWeAmTLAqW+1ozUbpRSKSwNTmO+exlS5KEIPYWuYdX
    volumes:
      - ./testdata/checks:/srv/checks

  test_db:
    image: aleksi/test_db:1.1.0
    container_name: pmm-agent_test_db
    volumes:
      - test_db_mysql:/test_db/mysql/world:ro
      - test_db_postgres:/test_db/postgresql/world:ro

  # It is essential to have an extra directory `/slowlogs/` between host and container;
  # and to not have a trailing slash at `./testdata/mysql`.
  # Otherwise, MySQL in Docker for Mac completely locks during/after slowlog rotation tests.
  mysql:
    image: ${MYSQL_IMAGE:-percona:5.7}
    platform: linux/amd64
    container_name: pmm-agent_mysql
    command: >
      --sql-mode="ANSI_QUOTES"
      --performance-schema --innodb_monitor_enable=all
      --slow_query_log --slow_query_log_file=/mysql/slowlogs/slow.log --long_query_time=0
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root-password
      - MYSQL_USER=pmm-agent
      - MYSQL_PASSWORD=pmm-agent-password
      - UMASK=0777  # for slowlog file
    volumes:
      - test_db_mysql:/docker-entrypoint-initdb.d/:ro
      - ./testdata/mysql:/mysql

  mongo:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:5.0}
    container_name: pmm-agent_mongo
    command:
      - --profile=2
      - --logpath=/var/log/mongodb/mongo.log
      - --logAppend
    ports:
      - "127.0.0.1:27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root-password
    volumes:
      - mongo_logs:/var/log/mongodb

  mongo_with_ssl:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:5.0}
    container_name: pmm-agent_mongo_with_ssl
    command:
      - --profile=2
      - --sslMode=requireSSL
      - --sslPEMKeyFile=/etc/ssl/certificates/server.pem
      - --sslCAFile=/etc/ssl/certificates/ca.crt
      - --sslWeakCertificateValidation
      - --bind_ip=0.0.0.0
      - --logpath=/var/log/mongodb/mongo.log
      - --logAppend
    ports:
      - "127.0.0.1:27018:27017"
    volumes:
      - ${PWD}/utils/tests/testdata/mongodb:/etc/ssl/certificates
      - mongo_logs:/var/log/mongodb

  mongonoauth:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:5.0}
    container_name: pmm-agent_mongonoauth
    command: --profile=2 -bind_ip=0.0.0.0 --noauth
    ports:
      - "127.0.0.1:27019:27017"

  mongo_repl:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:5.0}
    container_name: pmm-agent_mongorepl
    environment:
      - MONGO_IMAGE=${MONGO_IMAGE:-percona/percona-server-mongodb:5.0}
    volumes:
      - ./testscripts/:/scripts
    command: /scripts/mongo_repl.sh
    ports:
      - "127.0.0.1:27020:27020"
      - "127.0.0.1:27021:27021"

  mongo_repl_with_ssl:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:5.0}
    container_name: pmm-agent_mongorepl_with_ssl
    command: /scripts/mongo_repl_with_ssl.sh
    environment:
      - MONGO_IMAGE=${MONGO_IMAGE:-percona/percona-server-mongodb:5.0}
    ports:
      - "127.0.0.1:27022:27022"
      - "127.0.0.1:27023:27023"
    volumes:
      - ./testscripts/:/scripts
      - ${PWD}/utils/tests/testdata/mongodb:/etc/ssl/certificates

  postgres:
    image: ${POSTGRES_IMAGE:-postgres:11}
    container_name: pmm-agent_postgres
    command: >
      -c shared_preload_libraries='${PG_PRELOADED_LIBS:-pg_stat_statements}'
      -c track_activity_query_size=2048
      -c pg_stat_statements.max=10000
      -c pg_stat_monitor.pgsm_query_max_len=10000
      -c pg_stat_statements.track=all
      -c pg_stat_statements.save=off
      -c track_io_timing=on
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=pmm-agent
      - POSTGRES_PASSWORD=pmm-agent-password
    volumes:
      - test_db_postgres:/docker-entrypoint-initdb.d/

  sysbench:
    image: perconalab/sysbench
    container_name: pmm-agent_sysbench

volumes:
  test_db_mysql:
  test_db_postgres:
  mongo_logs:
