/* Overrides */

:root {
    --md-primary-fg-color--dark: rgb(204,58,0);
}
.md-header,
.md-tabs {
  background:
    linear-gradient(
      110deg,
      rgba(0,0,0,0.25) 33%,
      rgba(0,0,0,0.15) 95%
    ),
    linear-gradient(
      110deg,
      rgb(204,58,0) 33%,
      rgb(255,137,45) 95%
    );
}
@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title[for="__drawer"],
  .md-nav--primary .md-nav__title {
    background:
      linear-gradient(
        110deg,
        rgba(0,0,0,0.25) 33%,
        rgba(0,0,0,0.15) 95%
      ),
      linear-gradient(
        110deg,
        rgb(194,33,0) 33%,
        rgb(255,137,45) 95%
      );
  }
}
.superNav,
.md-nav__source {
  background-color: rgb(204,58,0);
  background-image:
    linear-gradient(
      110deg,
      rgba(0,0,0,0.4) 33%,
      rgba(0,0,0,0.4) 95%
    );
}

/* Remove Github version label from header */
.md-source__fact.md-source__fact--version {
  display: none;
}
