---
services:
  pmm-update-server:
    image: ${PMM_SERVER_IMAGE:-percona/pmm-server:2}
    container_name: pmm-update-server
    environment:
      # for tests
      - PMM_SERVER_IMAGE=${PMM_SERVER_IMAGE:-percona/pmm-server:2}
      - GO_VERSION=${GO_VERSION:-1.23.x}
      - PATH=/root/go/bin:$PATH
      - REVIEWDOG_GITHUB_API_TOKEN=${REVIEWDOG_GITHUB_API_TOKEN}
    volumes:
      - ..:/root/go/src/github.com/percona/pmm
