services:
  telemetry:
    enabled: true
    datasources:
      VM:
        enabled: true
        timeout: 2s
        address: http://localhost:9090/prometheus
      QANDB_SELECT:
        enabled: true
        timeout: 2s
        dsn: tcp://localhost:9000/pmm
      PMMDB_SELECT:
        enabled: true
        timeout: 10s
        use_separate_credentials: false
        separate_credentials:
          username: pmm
          password: pmm
    reporting:
      send: true
      send_on_start: false
      interval: 24h
      retry_backoff: 1h
      retry_count: 20
      send_timeout: 5s
