name: 'Client: pmm and pmm-admin'

on:
  push:
    branches:
      - main
      - pmm-*
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

  pull_request:
    paths-ignore:
      - "agent/**"
      - "api-tests/**"
      - "docs/**"
      - "managed/**"
      - "qan-api2/**"
      - "update/**"
      - "vmproxy/**"

permissions:
  contents: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false

    defaults:
      run:
        working-directory: ${{ github.workspace }}/admin

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go release
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version-file: ${{ github.workspace }}/go.mod
          cache: false

      - name: Enable Go build cache
        uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-build-${{ github.ref }}-${{ hashFiles('**') }}
          restore-keys: |
            ${{ runner.os }}-go-build-${{ github.ref }}-
            ${{ runner.os }}-go-build-

      - name: Enable Go modules cache
        uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-modules-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-modules-

      - name: Download Go modules
        run: go mod download -x

      - name: Build and install
        run: make install

      - name: Run tests
        run: make test-cover

      - name: Upload coverage results
        uses: codecov/codecov-action@7f8b4b4bde536c465e797be725718b88c5d95e0e # v5.1.1
        with:
          file: cover.out
          flags: admin
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run debug commands on failure
        if: ${{ failure() }}
        run: |
          env | sort
          go env | sort
          git status

  cli-test:
    name: CLI Tests
    if: false
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        test-type: [ pmm-common, pmm-server-install, pmm-docker-test ]

    defaults:
      run:
        working-directory: ${{ github.workspace }}/cli-tests

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go release
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version-file: ${{ github.workspace }}/go.mod
          cache: false

      - name: Enable Go build cache
        uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-build-${{ github.ref }}-${{ hashFiles('**') }}
          restore-keys: |
            ${{ runner.os }}-go-build-${{ github.ref }}-
            ${{ runner.os }}-go-build-

      - name: Enable Go modules cache
        uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-modules-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-modules-

      - name: Download Go modules
        run: go mod download -x

      - name: Build and install
        run: make -C ../admin install

      - name: Setup tools
        run: |
          sudo ln -sf /home/runner/go/bin/pmm /usr/bin
          sudo chown -R runner:docker /usr/bin/pmm

      - name: Install Playwright
        run: |
          npm ci
          npx playwright install

      - name: Run "pmm" common tests
        if: ${{ matrix.test-type == 'pmm-common' }}
        run: npx playwright test tests/pmm-cli/pmm.spec.ts

      - name: Run "pmm server install" tests
        if: ${{ matrix.test-type == 'pmm-server-install' }}
        run: npx playwright test tests/pmm-cli/server/install.spec.ts

      - name: Run "pmm server upgrade" tests
        if: ${{ matrix.test-type == 'pmm-server-update' }}
        run: npx playwright test tests/pmm-cli/server/upgrade.spec.ts

      - name: Run specific docker tests
        if: ${{ matrix.test-type == 'pmm-docker-test' }}
        run: npx playwright test tests/pmm-cli/server/docker-specific.spec.ts

      - name: Attach the report on failure
        if: failure()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: "report-${{ matrix.go-version }}-${{ matrix.test-type }}"
          path: ${{ github.workspace }}/cli-tests/playwright-report/

      - name: Run debug commands on failure
        if: ${{ failure() }}
        run: |
          env | sort
          go env | sort
          git status
          node --version
          npx --version
          npx playwright --version
