name: Docs
on:
  push:
    branches:
      - main
      - v3
    paths:
      - "api/**"
      - "docs/api/**"

  workflow_dispatch:

jobs:
  sync:
    name: Sync API Docs
    runs-on: ubuntu-22.04

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Detect PMM version and API ID
        run: |
          # For reference:
          # PMM 2: VERSION=v2, ID=626badcabbc59c02acc1a53f
          # PMM 3: VERSION=v3, ID=622892a957a7410330bc6184
          export VERSION=$(cat api/swagger/swagger.json | jq -r '.info.version')
          export ID=$(cat api/swagger/swagger.json | jq -r '."x-readme-id"')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "ID=$ID" >> $GITHUB_ENV

      - name: API
        uses: readmeio/rdme@bedea837ac4147b55e1e97ee198324db4d55cc2c # v10.4.0
        with:
          rdme: openapi ./api/swagger/swagger.json --version=${{ env.VERSION }} --id=${{ env.ID }} --key=${{ secrets.README_TOKEN }}

      - name: Markdown docs
        uses: readmeio/rdme@bedea837ac4147b55e1e97ee198324db4d55cc2c # v10.4.0
        with:
          rdme: docs docs/api --version=${{ env.VERSION }}  --key=${{ secrets.README_TOKEN }}
