name: Cleanup
on:
  schedule:
    # run every Saturday
    - cron: "0 12 * * 6"

permissions:
  contents: read

jobs:
  clean:
    name: Clean caches
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        go:
          - version: 1.24.x
            may-fail: false

    continue-on-error: ${{ matrix.go.may-fail }}
    runs-on: ubuntu-22.04

    env:
      GOFLAGS: -v -mod=readonly

    steps:
      - name: Configure git for private modules
        env:
          ROBOT_TOKEN: ${{ secrets.ROBOT_TOKEN }}
        run: echo "machine github.com login percona-robot password ${{ secrets.ROBOT_TOKEN }}" > $HOME/.netrc

      - name: Set up Go release
        env:
          # to avoid error due to `go version` accepting -v flag with an argument since 1.15
          GOFLAGS: ""
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ matrix.go.version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true

      - name: Enable Go modules cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/go/pkg/mod
          key: ${{ matrix.go.version }}-modules-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ matrix.go.version }}-modules-

      - name: Enable Go build cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.cache/go-build
          key: ${{ matrix.go.version }}-build-${{ github.ref }}-${{ hashFiles('**') }}
          restore-keys: |
            ${{ matrix.go.version }}-build-${{ github.ref }}-
            ${{ matrix.go.version }}-build-

      - name: Clean Go modules cache
        run: go clean -modcache

      - name: Clean Go build cache
        run: go clean -cache
