name: Devcontainer
on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  devcontainer:
    name: Build
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    strategy:
      fail-fast: false
    permissions:
      packages: write

    env:
      LAB_DEVCONTAINER_IMAGE: perconalab/pmm-server:dev-container
      GH_DEVCONTAINER_IMAGE: ghcr.io/percona/pmm-server:dev-container

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to ghcr.io registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to docker.io registry
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push to registries
        uses: docker/build-push-action@v4
        with:
          file: ./devcontainer.Dockerfile
          push: true
          tags: |
            ${{ env.GH_DEVCONTAINER_IMAGE }}
            ${{ env.LAB_DEVCONTAINER_IMAGE }}
