name: Devcontainer
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch to build the devcontainer from"
        default: "main"
        required: true
        type: string
  workflow_call:
    inputs:
      branch:
        description: "The branch to build the devcontainer from"
        default: "main"
        required: true
        type: string

permissions:
  contents: read

jobs:
  devcontainer:
    name: Build
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    strategy:
      fail-fast: false
    permissions:
      packages: write

    env:
      LAB_DEVCONTAINER_IMAGE: perconalab/pmm-server:dev-container
      GH_DEVCONTAINER_IMAGE: ghcr.io/percona/pmm:dev-container

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1

      - name: Login to ghcr.io registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to docker.io registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push to registries
        uses: docker/build-push-action@48aba3b46d1b1fec4febb7c5d0c644b249a11355 # v6.10.0
        with:
          file: ./devcontainer.Dockerfile
          push: true
          tags: |
            ${{ env.GH_DEVCONTAINER_IMAGE }}
            ${{ env.LAB_DEVCONTAINER_IMAGE }}
