name: Sync OAS to ReadMe
on:
  push:
    branches:
      - main
      - readme-sync
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: percona-platform/checkout@v2
      - uses: percona-platform/github-readme-sync@v2
        with:
          readme-oas-key: ${{ secrets.README_TOKEN }}

          # OPTIONAL CONFIG, use if necessary
          oas-file-path: "./api/swagger/swagger.json"
          api-version: "v1.0.0"

      - uses: percona-platform/setup-node@v2
        with:
          node-version: "14"
      - run: npm install -g rdme
      - run: rdme docs markdowns --version=v1.0.0 --key=${{ secrets.README_TOKEN }}
