name: Docs
on:
  push:
    branches:
      - main
      - v3
    paths:
      - "api/**"
      - "docs/api/**"

  workflow_dispatch:

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-22.04
    env:
      VERSION: v2
      ID: 626badcabbc59c02acc1a53f

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Detect PMM version and API ID
        run: |
          # For reference:
          # PMM 2: VERSION=v2, ID=626badcabbc59c02acc1a53f
          # PMM 3: VERSION=v3, ID=622892a957a7410330bc6184
          export VERSION=$(cat api/swagger/swagger.json | jq -r '.info.version')
          export ID=$(cat api/swagger/swagger.json | jq -r '."x-readme-id"')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "ID=$ID" >> $GITHUB_ENV

      - name: API
        uses: readmeio/rdme@38a6ae8e01b83ff4672f3f8f35b72a16e267be39 # v10.3.0
        with:
          rdme: openapi ./api/swagger/swagger.json --id=${{ env.ID }} --key=${{ secrets.README_TOKEN }}

      - name: Markdown docs
        uses: readmeio/rdme@38a6ae8e01b83ff4672f3f8f35b72a16e267be39 # v10.3.0
        with:
          rdme: docs docs/api --version=${{ env.VERSION }}  --key=${{ secrets.README_TOKEN }}
