name: Docs
on:
  push:
    branches:
      - main
      - v3
    paths:
      - "api/**"
      - "docs/api/**"

  workflow_dispatch:
    inputs:
      version:
        description: "API Version on readme.io"
        required: true
        default: "v1.0" # v0.0 stands for the dev version

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: API
        uses: readmeio/rdme@v8
        with:
          rdme: openapi ./api/swagger/swagger.json --id=626badcabbc59c02acc1a53f --key=${{ secrets.README_TOKEN }}

      - name: Markdown docs
        uses: readmeio/rdme@v8
        with:
          rdme: docs docs/api --version=${{ github.event.inputs.version || 'v1.0' }}  --key=${{ secrets.README_TOKEN }}
