name: Publish release changelog
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:      

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release

    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-22.04
    steps:
      - name: Build Changelog
        id: pmm_release
        shell: bash
        run: |
          version="${release_tag/refs\/tags\/v/}"
          wget https://raw.githubusercontent.com/percona/pmm/v3/documentation/docs/release-notes/$version.md -O ${{ github.workspace }}-CHANGELOG.txt
        env:
          release_tag: ${{ github.ref }}

      - name: Convert mkdocs
        shell: bash --noprofile --norc -ex {0}
        run: |
          grep -rl '!!! caution' ${{ github.workspace }}-CHANGELOG.txt | xargs --no-run-if-empty sed -i 's/\!\!\! caution alert alert-warning "\(.*\)"/\> \:warning\: **\1**/g'
          grep -rl '!!! caution' ${{ github.workspace }}-CHANGELOG.txt | xargs --no-run-if-empty sed -i 's/\!\!\! caution alert alert-warning/\> \:warning\:/g'
          grep -rl '!!! alert alert-info' ${{ github.workspace }}-CHANGELOG.txt | xargs --no-run-if-empty sed -i 's/\!\!\! alert alert-info/\>/g'
          grep -rl '!!! note alert alert-primary' ${{ github.workspace }}-CHANGELOG.txt | xargs --no-run-if-empty sed -i 's/\!\!\! note alert alert-primary "\(.*\)"/\> \:memo\: **\1**/g'
          grep -rl '!!! note alert alert-primary' ${{ github.workspace }}-CHANGELOG.txt | xargs --no-run-if-empty sed -i 's/\!\!\! note alert alert-primary/\> \:memo\: **Note**/g'

      - name: Create Release Changelog
        uses: softprops/action-gh-release@e7a8f85e1c67a31e6ed99a94b41bd0b71bbee6b8 # v2.0.9
        with:
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          draft: true
