name: SBOM

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  sbom:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Create SBOM for PMM
        uses: anchore/sbom-action@cee1b8e05ae5b2593a75e197229729eabaa9f8ec # v0.20.2
        with:
          file: go.mod
          artifact-name: pmm.spdx.json

      - name: Publish SBOM for PMM
        uses: anchore/sbom-action/publish-sbom@cee1b8e05ae5b2593a75e197229729eabaa9f8ec # v0.20.2
        with:
          sbom-artifact-match: ".*\\.spdx\\.json$"

  vmproxy:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Create SBOM for vmproxy
        uses: anchore/sbom-action@cee1b8e05ae5b2593a75e197229729eabaa9f8ec # v0.20.2
        with:
          path: ./vmproxy
          artifact-name: vmproxy.spdx.json

      - name: Publish SBOM for vmproxy
        uses: anchore/sbom-action/publish-sbom@cee1b8e05ae5b2593a75e197229729eabaa9f8ec # v0.20.2
        with:
          sbom-artifact-match: ".*\\.spdx\\.json$"
