name: UI

on:
  push:
    branches:
      - main
      - v3
      - pmm-*
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
    paths-ignore:
      - "documentation/**"

  pull_request:
    paths-ignore:
      - "admin/**"
      - "agent/**"
      - "api-tests/**"
      - "cli-tests/**"
      - "docs/**"
      - "documentation/**"
      - "managed/**"
      - "managed-dev/**"
      - "qan-api2/**"
      - "vmproxy/**"
      - "update/**"

jobs:
  ci:
    name: CI
    runs-on: ubuntu-22.04

    defaults:
      run:
        working-directory: ${{ github.workspace }}/ui

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version-file: ui/.nvmrc
          cache: yarn
          cache-dependency-path: ui

      - name: Run lint
        run: |
          make lint

      - name: Run unit tests
        run: |
          make test

      - name: Build application
        run: |
          make build
