name: Update

on:
  push:
    branches:
      - main
      - v3
      - pmm-*
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:
    paths-ignore:
      - "admin/**"
      - "agent/**"
      - "api-tests/**"
      - "cli-tests/**"
      - "docs/**"
      - "managed/**"
      - "qan-api2/**"
      - "vmproxy/**"
      - "ui/**"

permissions:
  contents: read

jobs:
  build:
    name: Build
    if: false

    strategy:
      fail-fast: false
      matrix:
        image:
          - perconalab/pmm-server:3-dev-latest # latest development version

    env:
      PMM_SERVER_IMAGE: ${{ matrix.image }}

    runs-on: ubuntu-22.04

    defaults:
      run:
        working-directory: ${{ github.workspace }}/update

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Docker Up
        run: docker compose up -d

      - name: Install dev tools in container
        run: docker exec pmm-update-server /root/go/src/github.com/percona/pmm/update/.devcontainer/install-dev-tools.sh

      - name: Run install
        run: docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm/update install

      - name: Run license check and ansible checks
        run: docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm/update check

      - name: Run tests
        run: docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm/update test-race

      - name: Run with race detector and collect coverage information
        run: docker exec pmm-update-server make -C /root/go/src/github.com/percona/pmm/update run-race-cover RUN_FLAGS='-debug -check'

      - name: Upload coverage results
        uses: codecov/codecov-action@5c47607acb93fed5485fdbf7232e8a31425f672a # v5.0.2
        with:
          file: cover.out
          flags: update
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}

